# Content-based recommendations (using cosine similarity)
This notebook shows the process used to calculate recommendations for user based on their previous ratings and in features extracted from content texts available in +TV4E platform.

Library requirements:
* Pandas
* NumPy
* Scikit-learn 
* NLTK (w/ portuguese stop words)

In [1]:
# for Python 2: use print only as a function
from __future__ import print_function

### Part 1 - Examine the data

In [2]:
# read CSV using a relative path
import pandas as pd
import numpy as np
import requests
URL_RATINGS='http://api_mysql.tv4e.pt/api/recommendations/ratings'
data=requests.get(URL_RATINGS)
df_ratings=pd.DataFrame(data.json())
URL_VIDEOS='http://api_mysql.tv4e.pt/api/recommendations/videos'
data= requests.get(URL_VIDEOS)
df_videos=pd.DataFrame(data.json())

In [3]:
# show dataframe first rows
df_videos.head()

,video_asgie_id,video_asgie_title_en,video_asgie_title_pt,video_date_creation,video_desc,video_id,video_location,video_title
0,3,Financial Services,Finanças,2017-09-26 15:21:16,Seja qual for o cenário para os escalões do IR...,4049,,As “habilidadezinhas” do Governo para descer o...
1,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:36:20,Mais pessoas recorrem aos centros de saúde par...,4051,,Deixar de fumar
2,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:38:36,Quase sete mil unidades de medicamentos apreen...,4053,,Medicamentos falsificados
3,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:40:12,Ministro da Saúde participa no encontro em Coi...,4054,,Conferência Mundial de Saúde Urbana
4,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:40:19,Rastreio visa despiste da ambliopia em criança...,4055,,CHTS | Saúde visual infantil

In [4]:
# show dataframe first rows
df_ratings.head()

,rating_date_creation,rating_value,user_id,video_id,video_watch_time,video_watched_type
0,2017-10-23 00:00:00,0,2,4355,1,notified
1,2017-10-17 10:05:45,0,3,4275,1,notified
2,2017-09-27 14:00:04,0,5,4090,1,notified
3,2017-09-27 13:30:03,0,5,4091,1,notified
4,2017-09-27 13:00:03,0,5,4092,1,notified

In [5]:
df_ratings[['user_id', 'video_id', 'rating_value']]

    user_id  video_id  rating_value
0         2      4355             0
1         3      4275             0
2         5      4090             0
3         5      4091             0
4         5      4092             0
5         5      4093             0
6         5      4094             0
7         5      4095             0
8         5      4107             0
9         5      4108             0
10        5      4109             0
11        5      4110             0
12        5      4111             0
13        5      4112             0
14        5      4113             0
15        5      4114             0
16        5      4115             0
17        5      4116             0
18        5      4117             0
19        5      4118             0
20        5      4172             0
21        5      4173             0
22        5      4174             0
23        8      4051             0
24        8      4061             0
25        8      4062             0
26        8      4063             0
27        8      4068             0
28        8      4089             0
29        8      4090             0
30        8      4091             0
31        8      4093             0
32        8      4094             0
33        8      4095             0
34        9      4068             0
35        9      4089             0
36        9      4090             0
37        9      4091             0
38        9      4093             0
39        9      4094             0
40        9      4095             0
41        9      4220             0

In [6]:
#show the shape of dataframe
df_ratings.shape

(42, 6)

In [7]:
# show overall statistics of the dataframe
df_ratings.describe()

       rating_value    user_id     video_id  video_watch_time
count          42.0  42.000000    42.000000         42.000000
mean            0.0   6.428571  4113.119048          4.142857
std             0.0   1.939862    56.480172         10.045194
min             0.0   2.000000  4051.000000          1.000000
25%             0.0   5.000000  4090.250000          1.000000
50%             0.0   5.000000  4094.500000          1.000000
75%             0.0   8.000000  4113.750000          1.000000
max             0.0   9.000000  4355.000000         49.000000

In [8]:
# filter ratings from user 1 and show statistics
df_ratings_user = df_ratings[(df_ratings.user_id==1)]
df_ratings_user.describe()

       rating_value  user_id  video_id  video_watch_time
count           0.0      0.0       0.0               0.0
mean            NaN      NaN       NaN               NaN
std             NaN      NaN       NaN               NaN
min             NaN      NaN       NaN               NaN
25%             NaN      NaN       NaN               NaN
50%             NaN      NaN       NaN               NaN
75%             NaN      NaN       NaN               NaN
max             NaN      NaN       NaN               NaN

### Part 2 - Clean ratings data

In [9]:
# rtemoving unused columns
df_ratings.drop('video_watched_type', axis=1, inplace=True)
df_ratings.drop('rating_date_creation', axis=1, inplace=True)
df_ratings

    rating_value  user_id  video_id  video_watch_time
0              0        2      4355                 1
1              0        3      4275                 1
2              0        5      4090                 1
3              0        5      4091                 1
4              0        5      4092                 1
5              0        5      4093                 1
6              0        5      4094                 1
7              0        5      4095                 1
8              0        5      4107                 1
9              0        5      4108                 1
10             0        5      4109                 1
11             0        5      4110                 1
12             0        5      4111                 1
13             0        5      4112                 1
14             0        5      4113                 1
15             0        5      4114                 1
16             0        5      4115                 1
17             0        5      4116                 1
18             0        5      4117                 1
19             0        5      4118                 1
20             0        5      4172                 1
21             0        5      4173                 9
22             0        5      4174                45
23             0        8      4051                13
24             0        8      4061                 1
25             0        8      4062                 1
26             0        8      4063                 1
27             0        8      4068                 1
28             0        8      4089                 2
29             0        8      4090                 1
30             0        8      4091                 1
31             0        8      4093                49
32             0        8      4094                 7
33             0        8      4095                 4
34             0        9      4068                 4
35             0        9      4089                 8
36             0        9      4090                 1
37             0        9      4091                 1
38             0        9      4093                 1
39             0        9      4094                 1
40             0        9      4095                 1
41             0        9      4220                 1

In [10]:
# calculate implicit and explicit ratings
# XXX use a function to calculate implicit rating considering the video lead time
df_ratings['rating_implicit'] = (df_ratings['video_watch_time']/100)*0.3
df_ratings['rating_explicit'] = (df_ratings['rating_value'])        *0.7

# create a new column to put implicit or explicit rating value
df_ratings['overall_rating_value'] = df_ratings['rating_implicit'] + df_ratings['rating_explicit']
# OLD: if there's no explicit rating, consider the implicit rating as 
# df_ratings['overall_rating_value'] = np.where(df_ratings['rating_value'] == 0, df_ratings['video_watch_time'], df_ratings['rating_value'])
df_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
0,0,2,4355,1,0.003,0.0,0.003
1,0,3,4275,1,0.003,0.0,0.003
2,0,5,4090,1,0.003,0.0,0.003
3,0,5,4091,1,0.003,0.0,0.003
4,0,5,4092,1,0.003,0.0,0.003
5,0,5,4093,1,0.003,0.0,0.003
6,0,5,4094,1,0.003,0.0,0.003
7,0,5,4095,1,0.003,0.0,0.003
8,0,5,4107,1,0.003,0.0,0.003
9,0,5,4108,1,0.003,0.0,0.003
10,0,5,4109,1,0.003,0.0,0.003
11,0,5,4110,1,0.003,0.0,0.003
12,0,5,4111,1,0.003,0.0,0.003
13,0,5,4112,1,0.003,0.0,0.003
14,0,5,4113,1,0.003,0.0,0.003
15,0,5,4114,1,0.003,0.0,0.003
16,0,5,4115,1,0.003,0.0,0.003
17,0,5,4116,1,0.003,0.0,0.003
18,0,5,4117,1,0.003,0.0,0.003
19,0,5,4118,1,0.003,0.0,0.003
20,0,5,4172,1,0.003,0.0,0.003
21,0,5,4173,9,0.027,0.0,0.027
22,0,5,4174,45,0.135,0.0,0.135
23,0,8,4051,13,0.039,0.0,0.039
24,0,8,4061,1,0.003,0.0,0.003
25,0,8,4062,1,0.003,0.0,0.003
26,0,8,4063,1,0.003,0.0,0.003
27,0,8,4068,1,0.003,0.0,0.003
28,0,8,4089,2,0.006,0.0,0.006
29,0,8,4090,1,0.003,0.0,0.003
30,0,8,4091,1,0.003,0.0,0.003
31,0,8,4093,49,0.147,0.0,0.147
32,0,8,4094,7,0.021,0.0,0.021
33,0,8,4095,4,0.012,0.0,0.012
34,0,9,4068,4,0.012,0.0,0.012
35,0,9,4089,8,0.024,0.0,0.024
36,0,9,4090,1,0.003,0.0,0.003
37,0,9,4091,1,0.003,0.0,0.003
38,0,9,4093,1,0.003,0.0,0.003
39,0,9,4094,1,0.003,0.0,0.003
40,0,9,4095,1,0.003,0.0,0.003
41,0,9,4220,1,0.003,0.0,0.003

In [11]:
ratings_matrix = df_ratings.pivot_table(index=['user_id'], columns=['video_id'], values=['overall_rating_value'])
ratings_matrix

         overall_rating_value                                            \
video_id                 4051   4061   4062   4063   4068   4089   4090
user_id
2                         NaN    NaN    NaN    NaN    NaN    NaN    NaN
3                         NaN    NaN    NaN    NaN    NaN    NaN    NaN
5                         NaN    NaN    NaN    NaN    NaN    NaN  0.003
8                       0.039  0.003  0.003  0.003  0.003  0.006  0.003
9                         NaN    NaN    NaN    NaN  0.012  0.024  0.003

                               ...                                       \
video_id   4091   4092   4093  ...     4115   4116   4117   4118   4172
user_id                        ...
2           NaN    NaN    NaN  ...      NaN    NaN    NaN    NaN    NaN
3           NaN    NaN    NaN  ...      NaN    NaN    NaN    NaN    NaN
5         0.003  0.003  0.003  ...    0.003  0.003  0.003  0.003  0.003
8         0.003    NaN  0.147  ...      NaN    NaN    NaN    NaN    NaN
9         0.003    NaN  0.003  ...      NaN    NaN    NaN    NaN    NaN


video_id   4173   4174   4220   4275   4355
user_id
2           NaN    NaN    NaN    NaN  0.003
3           NaN    NaN    NaN  0.003    NaN
5         0.027  0.135    NaN    NaN    NaN
8           NaN    NaN    NaN    NaN    NaN
9           NaN    NaN  0.003    NaN    NaN

[5 rows x 30 columns]

### Part 3 - Vectorize texts

In [12]:
# import and retrieve portuguese stop words
# stop words are not considered as token as usually they carry no meaning (!)
from nltk.corpus import stopwords
portuguese_stop_words = stopwords.words('portuguese')

In [13]:
# import and instantiate TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=2, max_df=0.5, stop_words=portuguese_stop_words)

In [14]:
# fit (train) the vectorizer with the corpus from video text contents
tfidf_matrix = tfidf.fit_transform(df_videos['video_desc'])
tfidf_matrix.toarray()

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [15]:
tfidf.get_feature_names()

['00',
 '000',
 '000 00',
 '000 euros',
 '018',
 '018 2017',
 '06',
 '09',
 '10',
 '10 10saúdealarga',
 '10 aniversário',
 '10 anos',
 '10 horas',
 '10 meses',
 '10 mil',
 '10 milhões',
 '10 novembro',
 '10 outubro',
 '100',
 '100 aquisição',
 '100 mil',
 '102',
 '10h30',
 '10h30 fundação',
 '10saúdealarga',
 '10saúdealarga elenco',
 '11',
 '11 novembro',
 '11 outubro',
 '110',
 '112',
 '112 acordo',
 '112 instituto',
 '112 recorda',
 '113',
 '113 2011',
 '118',
 '12',
 '12 anos',
 '12 meses',
 '12 mil',
 '12 outubro',
 '120',
 '120 médicos',
 '125',
 '127',
 '13',
 '13 milhões',
 '13 novembro',
 '13 outubro',
 '130',
 '131',
 '131 2017',
 '14',
 '14 17',
 '14 mil',
 '14 novembro',
 '140',
 '140 2016',
 '142',
 '14h',
 '14h30',
 '15',
 '15 16',
 '15 horas',
 '15 milhões',
 '15 novembro',
 '15 outubro',
 '15 pontos',
 '150',
 '150 000',
 '150 200',
 '150 mil',
 '150 milhões',
 '154',
 '154 administração',
 '154 profissionais',
 '154 vagas',
 '157',
 '15h00',
 '16',
 '16 horas',
 '16 milhões',
 '16 novembro',
 '16 outubro',
 '17',
 '17 anos',
 '17 horas',
 '17 junho',
 '17 novembro',
 '17 outubro',
 '17h30',
 '18',
 '18 20',
 '18 64',
 '18 horas',
 '18 novembro',
 '180',
 '180 mil',
 '1899',
 '1899 médico',
 '18h00',
 '19',
 '19 20',
 '19 45',
 '19 candidaturas',
 '1922',
 '1922 instituído',
 '194',
 '194 2017',
 '1945',
 '195',
 '195 2017',
 '1974',
 '198',
 '1981',
 '1989',
 '1993',
 '1996',
 '1999',
 '1º',
 '20',
 '20 abril',
 '20 anos',
 '20 euros',
 '20 horas',
 '20 mil',
 '20 milhões',
 '20 minutos',
 '20 mulheres',
 '20 novembro',
 '20 outubro',
 '20 reservas',
 '200',
 '200 000',
 '200 mil',
 '200 novos',
 '2004',
 '2005',
 '2005 uns',
 '2006',
 '2006 comemoração',
 '2007',
 '2008',
 '2009',
 '2009 57',
 '2010',
 '2011',
 '2011 29',
 '2012',
 '2013',
 '2014',
 '2014 arslvt',
 '2015',
 '2015 140',
 '2015 2016',
 '2016',
 '2016 17',
 '2016 2017',
 '2016 ano',
 '2016 nesta',
 '2016 número',
 '2017',
 '2017 09',
 '2017 10',
 '2017 18',
 '2017 2018',
 '2017 acordo',
 '2017 apresentado',
 '2017 assinala',
 '2017 através',
 '2017 cerca',
 '2017 cerimónia',
 '2017 cria',
 '2017 data',
 '2017 despacho',
 '2017 determina',
 '2017 diário',
 '2017 dois',
 '2017 ema',
 '2017 fim',
 '2017 inem',
 '2017 iniciativa',
 '2017 objetivo',
 '2017 preenchidas',
 '2017 procedimento',
 '2017 publicada',
 '2017 publicado',
 '2017 realizou',
 '2017 região',
 '2017 seguintes',
 '2017 série',
 '2017 vai',
 '2017 âmbito',
 '2018',
 '2018 2019',
 '2018 2021',
 '2018 acordo',
 '2018 ano',
 '2018 cumprir',
 '2018 haverá',
 '2018 pem',
 '2018 prevê',
 '2019',
 '2020',
 '2020 direção',
 '2020 âmbito',
 '2021',
 '2021 altura',
 '2027',
 '2027 hoje',
 '2027 pretendendo',
 '2027 taxa',
 '206',
 '206 2017',
 '208',
 '21',
 '21 novembro',
 '218',
 '218 vagas',
 '21h',
 '22',
 '22 horas',
 '22 novembro',
 '225',
 '23',
 '23 casos',
 '23 novembro',
 '23 outubro',
 '24',
 '24 24',
 '24 808',
 '24 direção',
 '24 eleitores',
 '24 horas',
 '24 novembro',
 '24 outubro',
 '24 profissionais',
 '24 vai',
 '240',
 '25',
 '25 abril',
 '25 anos',
 '25 cancros',
 '25 mil',
 '25 milhões',
 '25 outubro',
 '250',
 '26',
 '26 outubro',
 '26 setembro',
 '27',
 '27 outubro',
 '27 setembro',
 '271',
 '28',
 '28 000',
 '28 56',
 '28 setembro',
 '29',
 '29 março',
 '29 mil',
 '29 novembro',
 '29 outubro',
 '29 setembro',
 '290',
 '290 vagas',
 '292',
 '292 mil',
 '2ª',
 '30',
 '30 abril',
 '30 anos',
 '30 cento',
 '30 dias',
 '30 mil',
 '30 milhões',
 '30 novembro',
 '30 outubro',
 '30 setembro',
 '300',
 '300 pessoas',
 '305',
 '31',
 '31 agosto',
 '31 dezembro',
 '31 milhões',
 '31 outubro',
 '317',
 '317 candidatos',
 '32',
 '33',
 '33 previsto',
 '330',
 '338',
 '35',
 '35 mil',
 '36',
 '36 milhões',
 '360',
 '365',
 '37',
 '37 33',
 '37 óscares',
 '38',
 '39',
 '39 protocolos',
 '3ª',
 '3ª edição',
 '40',
 '40 anos',
 '40 milhões',
 '400',
 '41',
 '41 42',
 '42',
 '44',
 '440',
 '45',
 '45 horas',
 '46',
 '47',
 '48',
 '49',
 '4is',
 '4is setepés',
 '4º',
 '50',
 '50 anos',
 '50 lugares',
 '50 mil',
 '500',
 '52',
 '52 anos',
 '53',
 '53 médicos',
 '54',
 '55',
 '55 24',
 '56',
 '57',
 '57 eleitorado',
 '59',
 '60',
 '60 mil',
 '60 milhões',
 '600',
 '600 mil',
 '600 utentes',
 '62',
 '62 agora',
 '621',
 '64',
 '64 anos',
 '65',
 '65 anos',
 '650',
 '68',
 '70',
 '70 90',
 '70 anos',
 '70 casos',
 '700',
 '700 especialistas',
 '700 mil',
 '72',
 '74',
 '75',
 '75 80',
 '75 ambulâncias',
 '751',
 '76',
 '763',
 '77',
 '79',
 '80',
 '80 milhões',
 '80 mulheres',
 '800',
 '800 pessoas',
 '808',
 '808 24',
 '84',
 '85',
 '85 anos',
 '89',
 '90',
 '90 anos',
 '90 doentes',
 '900',
 '900 mil',
 '92',
 '94',
 '95',
 '96',
 '96 mil',
 '99',
 'a25',
 'aauav',
 'aauav abertura',
 'aauav destaca',
 'abaixo',
 'abandonar',
 'abandono',
 'abastecimento',
 'abate',
 'abdicar',
 'aberta',
 'aberta comunidade',
 'aberta todos',
 'abertas',
 'abertas inscrições',
 'aberto',
 'aberto administração',
 'abertura',
 'abertura oficial',
 'abertura parte',
 'abertura prevista',
 'abertura promover',
 'abertura propostas',
 'abertura sessão',
 'abordagem',
 'abordagens',
 'abordagens doenças',
 'abordar',
 'abordou',
 'abrange',
 'abrangem',
 'abrangendo',
 'abrangente',
 'abrangidas',
 'abrangidos',
 'abrangidos presente',
 'abrangência',
 'abre',
 'abrigo',
 'abril',
 'abril 2018',
 'abrir',
 'abriu',
 'absoluta',
 'absoluta aveiro',
 'absolutamente',
 'absoluto',
 'aca',
 'acabando',
 'acabar',
 'acabar primeiro',
 'acabaria',
 'acabaria ser',
 'acabou',
 'acabou ser',
 'academia',
 'academia entende',
 'académica',
 'académica refere',
 'académica universidade',
 'académico',
 'académico cidade',
 'académico nunca',
 'acarreta',
 'acarretam',
 'acarretam sequelas',
 'acaso',
 'acautelar',
 'aceder',
 'aceder informação',
 'aceitar',
 'acelerar',
 'acentuada',
 'aces',
 'aces central',
 'acessibilidade',
 'acessibilidades',
 'acessibilidades cidade',
 'acesso',
 'acesso consulta',
 'acesso cuidados',
 'acesso informação',
 'acesso levar',
 'acesso prestações',
 'acesso saúde',
 'acesso serviços',
 'acesso universal',
 'acesso utentes',
 'acessos',
 'acessíveis',
 'acessíveis cidadão',
 'acessível',
 'acessível cómoda',
 'achamos',
 'achamos implementação',
 'acidente',
 'acidente vascular',
 'acidentes',
 'acima',
 'acima clicando',
 'acolhe',
 'acolhe dia',
 'acolhedoras',
 'acolher',
 'acolher 300',
 'acolher agência',
 'acolher ema',
 'acolher sede',
 'acolherá',
 'acolheu',
 'acolhimento',
 'acompanhado',
 'acompanhado equipa',
 'acompanhados',
 'acompanhamento',
 'acompanhamento avaliação',
 'acompanhamento distância',
 'acompanhamento relatório',
 'acompanhamento área',
 'acompanhando',
 'acompanhar',
 'acompanhar evolução',
 'acompanhar perto',
 'acompanhar terreno',
 'aconselha',
 'aconselhamento',
 'acontece',
 'acontece copenhaga',
 'acontecer',
 'acontecer pode',
 'aconteceu',
 'acontecimentos',
 'acordo',
 'acordo ars',
 'acordo autores',
 'acordo centro',
 'acordo comunicado',
 'acordo dados',
 'acordo despacho',
 'acordo dgs',
 'acordo diploma',
 'acordo direção',
 'acordo fernando',
 'acordo inem',
 'acordo infarmed',
 'acordo medidas',
 'acordo ministro',
 'acordo norma',
 'acordo nota',
 'acordo oncologista',
 'acordo portaria',
 'acordo relatório',
 'acordo responsável',
 'acordo ser',
 'acredita',
 'acreditam',
 'acresce',
 'acrescenta',
 'acrescenta documento',
 'acrescenta número',
 'acrescentado',
 'acrescentando',
 'acrescentou',
 'acrescentou ainda',
 'acrescentou fernando',
 'acrescida',
 'acrescida continuarmos',
 'acrescido',
 'acss',
 'acss emite',
 'acss min',
 'actividade',
 'actors',
 'actors of',
 'acusado',
 'acusação',
 'adalberto',
 'adalberto campos',
 'adaptado',
 'adaptação',
 'addiction',
 'addiction journal',
 'addictions',
 'addictions 2017',
 'adeptos',
 'adequada',
 'adequada interrupção',
 'adequadas',
 'adequadas interromper',
 'adequado',
 'adequado articulação',
 'adequado combatendo',
 'adesão',
 'adianta',
 'adiantou',
 'adiantou ainda',
 'adicionais',
 'aditivos',
 'aditivos dependências',
 'adjunto',
 'adjunto saúde',
 'adjunto saúdeconstitui',
 'adjunto saúdedetermina',
 'administrada',
 'administrada durante',
 'administrador',
 'administradores',
 'administradores hospitalares',
 'administrativa',
 'administrativo',
 'administrativos',
 'administração',
 'administração agora',
 'administração central',
 'administração centro',
 'administração chuc',
 'administração entidades',
 'administração interna',
 'administração pública',
 'administração regional',
 'administrações',
 'administrações regionais',
 'admissão',
 'admite',
 'admitido',
 'admitindo',
 'admitiu',
 'admitiu ligações',
 'adotadas',
 'adotadas prevêem',
 'adotado',
 'adotado nações',
 'adotar',
 'adotar estilos',
 'adoção',
 'adoção hábitos',
 'adquiridos',
 'adquirir',
 'adulto',
 'adultos',
 'adultos poderão',
 'adversas',
 'aeronaves',
 'aeroporto',
 'aeroporto capacidade',
 'aeroporto faro',
 'aeroportos',
 'aerossóis',
 'aerossóis contaminados',
 'afeta',
 'afeta bombeiros',
 'afetada',
 'afetada sequência',
 'afetadas',
 'afetados',
 'afetam',
 'afeto',
 'afinal',
 'afirma',
 'afirma dirigente',
 'afirmando',
 'afirmar',
 'afirme',
 'afirme cada',
 'afirmou',
 'afirmou governante',
 'afirmou segunda',
 'afonso',
 'agenda',
 'agenda política',
 'agendado',
 'agendamento',
 'agendou',
 'agente',
 'agente polícia',
 'agentes',
 'agentes agir',
 'agentes policiais',
 'agilização',
 'agilização processos',
 'agir',
 'agir sentido',
 'agora',
 'agora litério',
 'agora necessário',
 'agosto',
 'agosto 2017',
 'agraciado',
 'agraciado carreira',
 'agradeceu',
 'agradecimento',
 'agregado',
 'agregado familiar',
 'agricultura',
 'agrupamento',
 'agrupamento centros',
 'agrupamento escolas',
 'agrupamentos',
 'agrupamentos centros',
 'agrícolas',
 'aguardam',
 'aguardar',
 'aguda',
 'aguda vão',
 'agudas',
 'agência',
 'agência europeia',
 'agência integração',
 'agência lusa',
 'agência tomada',
 'agência vai',
 'agências',
 'agências internacionais',
 'agências reguladoras',
 'agências viagens',
 'ahbva',
 'ahp',
 'ainda',
 'ainda assim',
 'ainda comunicado',
 'ainda concluído',
 'ainda encontra',
 'ainda fase',
 'ainda governo',
 'ainda maior',
 'ainda mundo',
 'ainda ninguém',
 'ainda nota',
 'ainda número',
 'ainda oportunidade',
 'ainda portugal',
 'ainda possibilidade',
 'ainda previstas',
 'ainda primeira',
 'ainda proceda',
 'ainda programa',
 'ainda promoção',
 'ainda ser',
 'ainda sete',
 'ainda vai',
 'air',
 'aires',
 'ajuda',
 'ajuda liga',
 'ajuda lisboa',
 'ajuda recebidos',
 'ajudam',
 'ajudam reforçar',
 'ajudar',
 'ajudaram',
 'ajudará',
 'ajustado',
 'ajustamento',
 'ajustamento municipal',
 'ajustamentos',
 'ajuste',
 'alargada',
 'alargada resto',
 'alargado',
 'alargamento',
 'alargamento destes',
 'alargamento todo',
 'alargando',
 'alargar',
 'alargar todo',
 'alargou',
 'alarmante',
 'alarmante casos',
 'albergaria',
 'albergaria velha',
 'alberto',
 'alberto souto',
 'albufeiras',
 'albufeiras nascentes',
 'alcançado',
 'alcançado 2009',
 'alcançado quatro',
 'alcançados',
 'alcançar',
 'aldeia',
 'aldeias',
 'aldeias centros',
 'aldeias históricas',
 'aldeias vinhateiras',
 'aldeias xisto',
 'alegando',
 'alemanha',
 'alemanha reino',
 'alentejo',
 'alerta',
 'alerta aauav',
 'alerta dado',
 'alertar',
 'alertar sensibilizar',
 'alertas',
 'alertou',
 'alexandra',
 'algarve',
 'algarve além',
 'algarve central',
 'algarve medidas',
 'algarve primeira',
 'algarve vai',
 'algarvio',
 'algarvios',
 'algo',
 'algo acontece',
 'algum',
 'alguma',
 'alguma altura',
 'algumas',
 'algumas características',
 'algumas iniciativas',
 'algumas palavras',
 'algumas unidades',
 'alguns',
 'alguns exemplos',
 'alguns principais',
 'alguns problemas',
 'alguém',
 'ali',
 'aliança',
 'aliança aveiro',
 'aliança m8',
 'alimentar',
 'alimentares',
 'alimentação',
 'alimentação inadequada',
 'alimentação saudável',
 'alimento',
 'alimento aprender',
 'alimento saudável',
 'alimentos',
 'alimentos bebidas',
 'alimentos curto',
 'alinhamentos',
 'alinhamentos existentes',
 'almeida',
 'almoço',
 'alojamento',
 'alojamento curtos',
 'alojamento local',
 'alojamento restauração',
 'alojamentos',
 'alta',
 'alta clínica',
 'alta restantes',
 'altamente',
 'alterar',
 'alteração',
 'alteração decreto',
 'alterações',
 'alterações climáticas',
 'alternativa',
 'alternativas',
 'alto',
 'alto nível',
 'alto patrocínio',
 'alto rendimento',
 'altos',
 'altura',
 'altura ano',
 'altura frota',
 'altura passar',
 'altura vidas',
 'altura vive',
 'aludiu',
 'aluno',
 'alunos',
 'alvalade',
 'alves',
 'alves representante',
 'alvo',
 'alçada',
 'além',
 'além 28',
 'além cancro',
 'além disso',
 'além excelentes',
 'além investir',
 'além portugal',
 'além vacinação',
 'alívio',
 'alívio fiscal',
 'am',
 'amanhã',
 'amanhã dia',
 'amaral',
 'amarante',
 'ambientais',
 'ambiental',
 'ambiental destes',
 'ambiente',
 'ambição',
 'ambição saúde',
 'ambliopia',
 'ambliopia crianças',
 'ambos',
 'ambulatório',
 'ambulância',
 'ambulância afeta',
 'ambulância instituto',
 'ambulância serviço',
 'ambulância socorro',
 'ambulâncias',
 'ambulâncias antigas',
 'ambulâncias cada',
 'ambulâncias encontrará',
 'ambulâncias partir',
 'ambulâncias pem',
 'ambulâncias respetivo',
 'ambulâncias sediadas',
 'ambulâncias socorro',
 'ameaça',
 'americana',
 'americano',
 'americanos',
 'amesterdão',
 'amesterdão copenhaga',
 'amiga',
 'amigo',
 'amigo ambiente',
 'amigos',
 'amor',
 'amoreira',
 'amoreira gândara',
 'amostras',
 'amostras analisadas',
 'amostras recolhidas',
 'amostras vários',
 'ampliação',
 'amsterdão',
 'amsterdão exemplo',
 'américa',
 'américa china',
 'américa norte',
 'ana',
 'ana joaquim',
 'ana mendes',
 'ana paula',
 'anadia',
 'anadia desta',
 'anadia eleições',
 'anadia jovem',
 'anadia litério',
 'anadia vai',
 'anadiense',
 'anadienses',
 'analisa',
 'analisadas',
 'analisadas instituto',
 'analisadas outras',
 'analisados',
 'analisar',
 'anatomia',
 'anatomia patológica',
 'ancas',
 'and',
 'and walking',
 'andamento',
 'andar',
 'andou',
 'andré',
 'angariação',
 'angariação fundos',
 'angariou',
 'animais',
 'animais canil',
 'animal',
 'animação',
 'anita',
 'aniversário',
 'aniversário frederick',
 'ano',
 'ano 2005',
 'ano 2015',
 'ano 2016',
 'ano 2017',
 'ano 2018',
 'ano 2027',
 'ano anterior',
 'ano antes',
 'ano aplicação',
 'ano após',
 'ano cerca',
 'ano civil',
 'ano europeu',
 'ano grande',
 'ano integrando',
 'ano letivo',
 'ano longo',
 'ano meio',
 'ano passado',
 'ano passaram',
 'ano porque',
 'ano prevê',
 'ano reduzir',
 'ano todas',
 'ano vida',
 'anormais',
 'anormais fugas',
 'anormal',
 'anos',
 ...]

### Part 4 - Build up user profile

In [16]:
# create dict video_id ==>> tfidf weights
tfidf_tokens = {}
tfidf_array = tfidf_matrix.toarray()
line_count = 0
for idx, row in df_videos.iterrows():
    tfidf_tokens[row.video_id] = tfidf_array[line_count]
    line_count += 1
tfidf_tokens

{4049: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4051: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4053: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4054: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4055: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4057: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4058: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4059: array([ 0.        ,  0.18206838,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4060: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4061: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4062: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4063: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4068: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4070: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4071: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4072: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4073: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4074: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.04875478,  0.        ]),
 4075: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4076: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.05670731,  0.        ]),
 4077: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4078: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4079: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4080: array([ 0.06642858,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4081: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4082: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4083: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4084: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4085: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4086: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4088: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4089: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4090: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4091: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4092: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4093: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4094: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4095: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4096: array([ 0.        ,  0.09659729,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4097: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4098: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4099: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4100: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4101: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4102: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4103: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4104: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4105: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4106: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4107: array([ 0.       ,  0.       ,  0.       , ...,  0.       ,  0.       ,
         0.0858295]),
 4108: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4109: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4110: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4111: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.05335906]),
 4112: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4113: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4114: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4115: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4116: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4117: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4118: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4121: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4124: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4125: array([ 0.        ,  0.        ,  0.        , ...,  0.06337078,
         0.        ,  0.        ]),
 4128: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4134: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.12693882]),
 4135: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4136: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4137: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4138: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4139: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4140: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4141: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4142: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4143: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4144: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4145: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4146: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4147: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4148: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4149: array([ 0.        ,  0.09196373,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4150: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4151: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4152: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4153: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4154: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4155: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4156: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4157: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4158: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4159: array([ 0.        ,  0.09872334,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4160: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4161: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4162: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4163: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4164: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4165: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4166: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4167: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4168: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4169: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4170: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4171: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4172: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4173: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4174: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4177: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4195: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4199: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4200: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4201: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4202: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4203: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4204: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4205: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4211: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4212: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4213: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4214: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4215: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4216: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4217: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4218: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4219: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4220: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4221: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4222: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4223: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4224: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4225: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4227: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4228: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4229: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4230: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4231: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4232: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4233: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4234: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4235: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4236: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4237: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4238: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4239: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4241: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4255: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4268: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4269: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4270: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4271: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4272: array([ 0.        ,  0.05019962,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4273: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4274: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4275: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4276: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4277: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4278: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4279: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4280: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4282: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4283: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4284: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4285: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4286: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4287: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4288: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4289: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4290: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4291: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4292: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4293: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4294: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4295: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4296: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4297: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4312: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4313: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4314: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4315: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4316: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4317: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4318: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4319: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4320: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4321: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4322: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4323: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4324: array([ 0.15786626,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4325: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4326: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4327: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4328: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4329: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4330: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4331: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4333: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4334: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4335: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4336: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4337: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4338: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4344: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4349: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4350: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4352: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4353: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4354: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4355: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4356: array([ 0.        ,  0.07948159,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4357: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4358: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4359: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4360: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4361: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4362: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4363: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4374: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4375: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4376: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4377: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4378: array([ 0.        ,  0.08910887,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4379: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4380: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4381: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4382: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4383: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4384: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4385: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4386: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4387: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4388: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4389: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4390: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4391: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4392: array([ 0.        ,  0.02474176,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4393: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4394: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4395: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4396: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4397: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4399: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4400: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4401: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4402: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4403: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4404: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4405: array([ 0.        ,  0.05707378,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4406: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4407: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4408: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4409: array([ 0.        ,  0.03939339,  0.        , ...,  0.05734577,
         0.        ,  0.        ]),
 4410: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4411: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4412: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4413: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4414: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4415: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4416: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4417: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4418: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4419: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4420: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4421: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4422: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4423: array([ 0.        ,  0.10759278,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4424: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4425: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4426: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4427: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4428: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4429: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4430: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4431: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4432: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4433: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4434: array([ 0.        ,  0.06452936,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4435: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4436: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4437: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4438: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4439: array([ 0.20038203,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4440: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4441: array([ 0.        ,  0.        ,  0.        , ...,  0.06658523,
         0.        ,  0.        ]),
 4442: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4443: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4444: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4445: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4446: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4447: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4448: array([ 0.        ,  0.09097417,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4449: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4450: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4451: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4452: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4453: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4454: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4455: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4456: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4457: array([ 0.       ,  0.       ,  0.       , ...,  0.       ,  0.       ,
         0.0735065]),
 4458: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4459: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4460: array([ 0.        ,  0.06045147,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4461: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4462: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4463: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4464: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4465: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4466: array([ 0.0295318 ,  0.05050336,  0.03529137, ...,  0.        ,
         0.        ,  0.        ]),
 4467: array([ 0.        ,  0.05167565,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4468: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4469: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4470: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4471: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4472: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4473: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4474: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4475: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4476: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4477: array([ 0.13455866,  0.11505675,  0.16080157, ...,  0.        ,
         0.        ,  0.        ]),
 4478: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4479: array([ 0.10717862,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4480: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4481: array([ 0.        ,  0.13801143,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4482: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4483: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4484: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4489: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4494: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4496: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4498: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4499: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4500: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4501: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4502: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4503: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4504: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4505: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4506: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4507: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4508: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4509: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4510: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4511: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4512: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4513: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4514: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4515: array([ 0.        ,  0.04452347,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4516: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4517: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4518: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4519: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4520: array([ 0.08750245,  0.07482051,  0.10456802, ...,  0.        ,
         0.        ,  0.        ]),
 4521: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4522: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4533: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4543: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4545: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4547: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),

In [17]:
# define user ratings
user_ratings = df_ratings[(df_ratings.user_id==8)]
user_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
23,0,8,4051,13,0.039,0.0,0.039
24,0,8,4061,1,0.003,0.0,0.003
25,0,8,4062,1,0.003,0.0,0.003
26,0,8,4063,1,0.003,0.0,0.003
27,0,8,4068,1,0.003,0.0,0.003
28,0,8,4089,2,0.006,0.0,0.006
29,0,8,4090,1,0.003,0.0,0.003
30,0,8,4091,1,0.003,0.0,0.003
31,0,8,4093,49,0.147,0.0,0.147
32,0,8,4094,7,0.021,0.0,0.021
33,0,8,4095,4,0.012,0.0,0.012

In [18]:
# created weighted user profile vector (dotproduct of vectors of items consumed and user ratings)
#   "In the original implementation, the profile was the sum of the item-tag vectors of all items 
#   the user has rated positively (>= 3.5 stars). This approach was later improved with weighted 
#   user profile (with the older implementation commented out for reference). Weighted profile is 
#   computed with weighted sum of the item vectors for all items, with weights being based on the 
#   user's rating."
#   See: http://eugenelin89.github.io/recommender_content_based/
user_profile = [0] * len(tfidf.get_feature_names())
for i in range(len(user_profile)):
    for idx, row in user_ratings.iterrows():
        user_profile[i] += row.overall_rating_value * tfidf_tokens[row.video_id][i]
    #user_profile = [v/len(user_ratings) for v in user_profile] # weight-ing user vector (?)
# normalize user profile vector
import numpy as np
user_profile = user_profile / np.linalg.norm(user_profile)
user_profile

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

### Part 5 - Calculate similarities between user profile and contents

In [19]:
# apply cosine similarity between user profile vector and content vectors
# See: http://eugenelin89.github.io/recommender_content_based/
from math import sqrt
def my_cosine_similarity(x, y):
    def square_rooted(v):
        return round(sqrt(sum([a * a for a in v])), 3)
   
    numerator = sum(a * b for a, b in zip(x, y))
    denominator = square_rooted(x) * square_rooted(y)
    return numerator/float(denominator)

estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items(): 
    if video_id not in user_ratings.video_id.values: # not calculating for contents already consumed 
        estimated_user_ratings[video_id] = my_cosine_similarity(user_profile, token_weights)
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4556, 0.17264066507438913),
 (4450, 0.16207649580126726),
 (4454, 0.14924849521371653),
 (4097, 0.14527711276733171),
 (4515, 0.12871522418028294),
 (4227, 0.12677987355095829),
 (4195, 0.12484667926298997),
 (4157, 0.12094561789942655),
 (4148, 0.12001665899329583)]

In [20]:
df_videos[(df_videos.video_id == 4148)].video_date_creation.values

array(['2017-10-03 10:31:30'], dtype=object)

In [24]:
# Using sklearn cosine_similarity (faster!)
from sklearn.metrics.pairwise import cosine_similarity
from math import sqrt
estimated_user_ratings = []
for video_id, token_weights in tfidf_tokens.items(): 
    # not calculating for contents already consumed
    if video_id not in user_ratings.video_id.values:
        estimated_user_ratings.append((
            video_id,
            df_videos[(df_videos.video_id == video_id)].video_date_creation.values[0],
            cosine_similarity([user_profile], [token_weights])[0]
        ))
#     if video_id not in user_ratings.video_id.values: # not calculating for contents already consumed 
#         estimated_user_ratings[video_id] = cosine_similarity([user_profile], [token_weights])
# order ratings
estimated_user_ratings = sorted(estimated_user_ratings, key=lambda tup: tup[2], reverse=True)[:10]
estimated_user_ratings

[(4556, '2017-11-20 10:28:14', array([ 0.17264067])),
 (4450, '2017-11-14 11:28:05', array([ 0.1620765])),
 (4454, '2017-11-14 11:28:34', array([ 0.1492485])),
 (4097, '2017-09-27 14:23:24', array([ 0.14527711])),
 (4515, '2017-11-16 13:12:49', array([ 0.12871522])),
 (4227, '2017-10-12 11:30:56', array([ 0.12677987])),
 (4195, '2017-10-09 00:35:27', array([ 0.12484668])),
 (4157, '2017-10-04 00:27:48', array([ 0.12094562])),
 (4148, '2017-10-03 10:31:30', array([ 0.12001666])),
 (4432, '2017-11-06 01:13:33', array([ 0.11813912]))]

In [22]:
# Using the dotproduct of user profile vector, content IDF and content vector
# See: https://www.analyticsvidhya.com/blog/2015/08/beginners-guide-learn-content-based-recommender-systems/
estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items():
    if video_id not in user_ratings.video_id.values: # removing contents already consumed 
        estimated_user_ratings[video_id] = 0
        for i in range(len(token_weights)):
            if token_weights[i] > 0:
                estimated_user_ratings[video_id] += user_profile[i] * tfidf.idf_[i] * token_weights[i]
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4450, 0.73881498788373268),
 (4556, 0.69866128136157435),
 (4097, 0.63346060494261824),
 (4148, 0.48295080099898696),
 (4421, 0.4815366917222561),
 (4454, 0.4668566657643804),
 (4515, 0.46588342560886353),
 (4157, 0.44962354975368696),
 (4195, 0.43920300622765879)]