# Content-based recommendations (using cosine similarity)
This notebook shows the process used to calculate recommendations for user based on their previous ratings and in features extracted from content texts available in +TV4E platform.

Library requirements:
* Pandas
* NumPy
* Scikit-learn 
* NLTK (w/ portuguese stop words)

In [172]:
# for Python 2: use print only as a function
from __future__ import print_function

### Part 1 - Examine the data

In [173]:
# read CSV using a relative path
import pandas as pd
import numpy as np
import requests
URL_RATINGS='http://api_mysql.tv4e.pt/api/recommendations/ratings'
data=requests.get(URL_RATINGS)
df_ratings=pd.DataFrame(data.json())
URL_VIDEOS='http://api_mysql.tv4e.pt/api/recommendations/videos'
data= requests.get(URL_VIDEOS)
df_videos=pd.DataFrame(data.json())

In [174]:
# show dataframe first rows
df_videos.head()

,video_asgie_id,video_asgie_title_pt,video_date_creation,video_desc,video_id,video_location,video_title
0,1,Saúde e Bem-Estar,2017-09-26 15:36:20,Mais pessoas recorrem aos centros de saúde par...,4051,,Deixar de fumar
1,1,Saúde e Bem-Estar,2017-09-26 15:38:36,Quase sete mil unidades de medicamentos apreen...,4053,,Medicamentos falsificados
2,1,Saúde e Bem-Estar,2017-09-26 15:40:12,Ministro da Saúde participa no encontro em Coi...,4054,,Conferência Mundial de Saúde Urbana
3,1,Saúde e Bem-Estar,2017-09-26 15:40:19,Rastreio visa despiste da ambliopia em criança...,4055,,CHTS | Saúde visual infantil
4,1,Saúde e Bem-Estar,2017-09-26 15:40:52,Implementação do sistema informático concluída...,4060,,VIH |SI.VIDA

In [175]:
# show dataframe first rows
df_ratings.head()

,rating_date_creation,rating_value,user_id,video_id,video_watch_time,video_watched_type
0,2017-10-26 09:56:58,0,1,4355,6,forced
1,2017-10-26 09:56:25,0,1,4357,5,forced
2,2017-10-26 09:56:20,0,1,4359,1,forced
3,2017-10-26 09:48:44,0,1,4360,9,forced
4,2017-10-26 09:48:42,0,1,4361,8,forced

In [176]:
df_ratings[['user_id', 'video_id', 'rating_value']]

    user_id  video_id  rating_value
0         1      4355             0
1         1      4357             0
2         1      4359             0
3         1      4360             0
4         1      4361             0
5         1      4362             0
6         1      4363             0
7         1      4374             0
8         2      4355             0
9         3      4266             0
10        3      4275             0
11        5      4090             0
12        5      4091             0
13        5      4092             0
14        5      4093             0
15        5      4094             0
16        5      4095             0
17        5      4107             0
18        5      4108             0
19        5      4109             0
20        5      4110             0
21        5      4111             0
22        5      4112             0
23        5      4113             0
24        5      4114             0
25        5      4115             0
26        5      4116             0
27        5      4117             0
28        5      4118             0
29        5      4172             0
30        5      4173             0
31        5      4174             0
32        8      4051             0
33        8      4061             0
34        8      4062             0
35        8      4063             0
36        8      4068             0
37        8      4089             0
38        8      4090             0
39        8      4091             0
40        8      4093             0
41        8      4094             0
42        8      4095             0
43        9      4068             0
44        9      4089             0
45        9      4090             0
46        9      4091             0
47        9      4093             0
48        9      4094             0
49        9      4095             0
50        9      4220             0

In [177]:
#show the shape of dataframe
df_ratings.shape

(51, 6)

In [178]:
# show overall statistics of the dataframe
df_ratings.describe()

       rating_value    user_id     video_id  video_watch_time
count          51.0  51.000000    51.000000         51.000000
mean            0.0   5.509804  4155.058824          5.490196
std             0.0   2.678601   105.615797         12.154625
min             0.0   1.000000  4051.000000          1.000000
25%             0.0   5.000000  4091.000000          1.000000
50%             0.0   5.000000  4108.000000          1.000000
75%             0.0   8.000000  4173.500000          4.000000
max             0.0   9.000000  4374.000000         61.000000

In [179]:
# filter ratings from user 1 and show statistics
df_ratings_user = df_ratings[(df_ratings.user_id==1)]
df_ratings_user.describe()

       rating_value  user_id     video_id  video_watch_time
count           8.0      8.0     8.000000          8.000000
mean            0.0      1.0  4361.375000         13.125000
std             0.0      0.0     5.730557         19.591817
min             0.0      1.0  4355.000000          1.000000
25%             0.0      1.0  4358.500000          4.750000
50%             0.0      1.0  4360.500000          7.000000
75%             0.0      1.0  4362.250000          9.500000
max             0.0      1.0  4374.000000         61.000000

### Part 2 - Clean ratings data

In [180]:
# rtemoving unused columns
df_ratings.drop('video_watched_type', axis=1, inplace=True)
df_ratings.drop('rating_date_creation', axis=1, inplace=True)
df_ratings

    rating_value  user_id  video_id  video_watch_time
0              0        1      4355                 6
1              0        1      4357                 5
2              0        1      4359                 1
3              0        1      4360                 9
4              0        1      4361                 8
5              0        1      4362                11
6              0        1      4363                 4
7              0        1      4374                61
8              0        2      4355                 1
9              0        3      4266                 1
10             0        3      4275                 1
11             0        5      4090                 1
12             0        5      4091                 1
13             0        5      4092                 1
14             0        5      4093                 1
15             0        5      4094                 1
16             0        5      4095                 1
17             0        5      4107                 1
18             0        5      4108                 1
19             0        5      4109                 1
20             0        5      4110                 1
21             0        5      4111                 1
22             0        5      4112                 1
23             0        5      4113                 1
24             0        5      4114                 1
25             0        5      4115                 1
26             0        5      4116                 1
27             0        5      4117                 1
28             0        5      4118                 1
29             0        5      4172                 1
30             0        5      4173                 9
31             0        5      4174                45
32             0        8      4051                13
33             0        8      4061                 1
34             0        8      4062                 1
35             0        8      4063                 1
36             0        8      4068                 1
37             0        8      4089                 2
38             0        8      4090                 1
39             0        8      4091                 1
40             0        8      4093                49
41             0        8      4094                 7
42             0        8      4095                 4
43             0        9      4068                 4
44             0        9      4089                 8
45             0        9      4090                 1
46             0        9      4091                 1
47             0        9      4093                 1
48             0        9      4094                 1
49             0        9      4095                 1
50             0        9      4220                 1

In [181]:
# calculate implicit and explicit ratings
# XXX use a function to calculate implicit rating considering the video lead time
df_ratings['rating_implicit'] = (df_ratings['video_watch_time']/100)*0.3
df_ratings['rating_explicit'] = (df_ratings['rating_value'])        *0.7

# create a new column to put implicit or explicit rating value
df_ratings['overall_rating_value'] = df_ratings['rating_implicit'] + df_ratings['rating_explicit']
# OLD: if there's no explicit rating, consider the implicit rating as 
# df_ratings['overall_rating_value'] = np.where(df_ratings['rating_value'] == 0, df_ratings['video_watch_time'], df_ratings['rating_value'])
df_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
0,0,1,4355,6,0.018,0.0,0.018
1,0,1,4357,5,0.015,0.0,0.015
2,0,1,4359,1,0.003,0.0,0.003
3,0,1,4360,9,0.027,0.0,0.027
4,0,1,4361,8,0.024,0.0,0.024
5,0,1,4362,11,0.033,0.0,0.033
6,0,1,4363,4,0.012,0.0,0.012
7,0,1,4374,61,0.183,0.0,0.183
8,0,2,4355,1,0.003,0.0,0.003
9,0,3,4266,1,0.003,0.0,0.003
10,0,3,4275,1,0.003,0.0,0.003
11,0,5,4090,1,0.003,0.0,0.003
12,0,5,4091,1,0.003,0.0,0.003
13,0,5,4092,1,0.003,0.0,0.003
14,0,5,4093,1,0.003,0.0,0.003
15,0,5,4094,1,0.003,0.0,0.003
16,0,5,4095,1,0.003,0.0,0.003
17,0,5,4107,1,0.003,0.0,0.003
18,0,5,4108,1,0.003,0.0,0.003
19,0,5,4109,1,0.003,0.0,0.003
20,0,5,4110,1,0.003,0.0,0.003
21,0,5,4111,1,0.003,0.0,0.003
22,0,5,4112,1,0.003,0.0,0.003
23,0,5,4113,1,0.003,0.0,0.003
24,0,5,4114,1,0.003,0.0,0.003
25,0,5,4115,1,0.003,0.0,0.003
26,0,5,4116,1,0.003,0.0,0.003
27,0,5,4117,1,0.003,0.0,0.003
28,0,5,4118,1,0.003,0.0,0.003
29,0,5,4172,1,0.003,0.0,0.003
30,0,5,4173,9,0.027,0.0,0.027
31,0,5,4174,45,0.135,0.0,0.135
32,0,8,4051,13,0.039,0.0,0.039
33,0,8,4061,1,0.003,0.0,0.003
34,0,8,4062,1,0.003,0.0,0.003
35,0,8,4063,1,0.003,0.0,0.003
36,0,8,4068,1,0.003,0.0,0.003
37,0,8,4089,2,0.006,0.0,0.006
38,0,8,4090,1,0.003,0.0,0.003
39,0,8,4091,1,0.003,0.0,0.003
40,0,8,4093,49,0.147,0.0,0.147
41,0,8,4094,7,0.021,0.0,0.021
42,0,8,4095,4,0.012,0.0,0.012
43,0,9,4068,4,0.012,0.0,0.012
44,0,9,4089,8,0.024,0.0,0.024
45,0,9,4090,1,0.003,0.0,0.003
46,0,9,4091,1,0.003,0.0,0.003
47,0,9,4093,1,0.003,0.0,0.003
48,0,9,4094,1,0.003,0.0,0.003
49,0,9,4095,1,0.003,0.0,0.003
50,0,9,4220,1,0.003,0.0,0.003

In [182]:
ratings_matrix = df_ratings.pivot_table(index=['user_id'], columns=['video_id'], values=['overall_rating_value'])
ratings_matrix

         overall_rating_value                                            \
video_id                 4051   4061   4062   4063   4068   4089   4090
user_id
1                         NaN    NaN    NaN    NaN    NaN    NaN    NaN
2                         NaN    NaN    NaN    NaN    NaN    NaN    NaN
3                         NaN    NaN    NaN    NaN    NaN    NaN    NaN
5                         NaN    NaN    NaN    NaN    NaN    NaN  0.003
8                       0.039  0.003  0.003  0.003  0.003  0.006  0.003
9                         NaN    NaN    NaN    NaN  0.012  0.024  0.003

                               ...                                       \
video_id   4091   4092   4093  ...     4266   4275   4355   4357   4359
user_id                        ...
1           NaN    NaN    NaN  ...      NaN    NaN  0.018  0.015  0.003
2           NaN    NaN    NaN  ...      NaN    NaN  0.003    NaN    NaN
3           NaN    NaN    NaN  ...    0.003  0.003    NaN    NaN    NaN
5         0.003  0.003  0.003  ...      NaN    NaN    NaN    NaN    NaN
8         0.003    NaN  0.147  ...      NaN    NaN    NaN    NaN    NaN
9         0.003    NaN  0.003  ...      NaN    NaN    NaN    NaN    NaN


video_id   4360   4361   4362   4363   4374
user_id
1         0.027  0.024  0.033  0.012  0.183
2           NaN    NaN    NaN    NaN    NaN
3           NaN    NaN    NaN    NaN    NaN
5           NaN    NaN    NaN    NaN    NaN
8           NaN    NaN    NaN    NaN    NaN
9           NaN    NaN    NaN    NaN    NaN

[6 rows x 38 columns]

### Part 3 - Vectorize texts

In [183]:
# import and retrieve portuguese stop words
# stop words are not considered as token as usually they carry no meaning (!)
from nltk.corpus import stopwords
portuguese_stop_words = stopwords.words('portuguese')

In [184]:
# import and instantiate TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=2, max_df=0.5, stop_words=portuguese_stop_words)

In [185]:
# fit (train) the vectorizer with the corpus from video text contents
tfidf_matrix = tfidf.fit_transform(df_videos['video_desc'])
tfidf_matrix.toarray()

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.03862879,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [186]:
tfidf.get_feature_names()

['000',
 '018',
 '018 2017',
 '06',
 '06 junho',
 '09',
 '10',
 '10 anos',
 '10 horas',
 '10 milhões',
 '10 novembro',
 '10 outubro',
 '100',
 '100 sessão',
 '102',
 '108',
 '108 mil',
 '10h30',
 '11',
 '11 outubro',
 '113',
 '113 2011',
 '12',
 '12 outubro',
 '120',
 '120 médicos',
 '127',
 '13',
 '13 outubro',
 '14',
 '14 mil',
 '140',
 '140 2016',
 '15',
 '15 outubro',
 '150',
 '1500',
 '1500 euros',
 '154',
 '154 administração',
 '154 profissionais',
 '154 vagas',
 '16',
 '16 conferência',
 '16 milhões',
 '16 outubro',
 '17',
 '17 comunidades',
 '17 outubro',
 '170',
 '170 milhões',
 '18',
 '18 64',
 '19',
 '19 20',
 '19 candidaturas',
 '1945',
 '195',
 '195 2017',
 '1981',
 '1990',
 '1990 algarve',
 '20',
 '20 30',
 '20 abril',
 '20 horas',
 '20 mil',
 '20 mulheres',
 '20 outubro',
 '20 startups',
 '200',
 '200 milhões',
 '2004',
 '2005',
 '2009',
 '2011',
 '2011 29',
 '2012',
 '2013',
 '2014',
 '2014 arslvt',
 '2015',
 '2015 140',
 '2015 lone',
 '2015 mobilizou',
 '2015 projeto',
 '2016',
 '2016 90',
 '2016 ano',
 '2016 mercado',
 '2016 nesta',
 '2016 número',
 '2016 registadas',
 '2016 transparentes',
 '2017',
 '2017 09',
 '2017 10',
 '2017 2018',
 '2017 acordo',
 '2017 assinala',
 '2017 crescimento',
 '2017 cria',
 '2017 despacho',
 '2017 diário',
 '2017 duplicação',
 '2017 preenchidas',
 '2017 procedimento',
 '2017 publicado',
 '2017 seguintes',
 '2017 série',
 '2018',
 '2018 prevê',
 '2018 primeira',
 '2018 quinta',
 '2019',
 '2020',
 '2027',
 '2027 hoje',
 '2027 pretendendo',
 '2027 taxa',
 '206',
 '206 2017',
 '21',
 '218',
 '218 vagas',
 '22',
 '23',
 '23 exposições',
 '24',
 '24 profissionais',
 '24 vai',
 '240',
 '25',
 '25 abril',
 '25 cancros',
 '25 outubro',
 '250',
 '26',
 '26 outubro',
 '26 setembro',
 '27',
 '28',
 '28 setembro',
 '29',
 '29 mil',
 '29 novembro',
 '29 setembro',
 '290',
 '290 vagas',
 '292',
 '292 mil',
 '30',
 '30 45',
 '30 cento',
 '30 mil',
 '30 portugal',
 '300',
 '300 pessoas',
 '305',
 '305 internacionais',
 '31',
 '31 agosto',
 '31 milhões',
 '317',
 '317 candidatos',
 '32',
 '33',
 '33 previsto',
 '35',
 '36',
 '36 milhões',
 '360',
 '360 milhões',
 '37',
 '37 33',
 '39',
 '40',
 '40 anos',
 '400',
 '400 lugares',
 '42',
 '42 eleitores',
 '44',
 '442',
 '442 artistas',
 '45',
 '45 dias',
 '46',
 '4all',
 '4all senses',
 '50',
 '50 cento',
 '50 mil',
 '53',
 '53 médicos',
 '60',
 '60 voos',
 '600',
 '600 utentes',
 '64',
 '64 anos',
 '65',
 '65 anos',
 '650',
 '70',
 '70 anos',
 '700',
 '700 especialistas',
 '700 mil',
 '72',
 '75',
 '75 80',
 '75 novo',
 '77',
 '79',
 '80',
 '80 mil',
 '80 milhões',
 '80 mulheres',
 '808',
 '825',
 '825 postos',
 '85',
 '90',
 '90 mil',
 'abaixo',
 'abastecimento',
 'aberta',
 'aberta trânsito',
 'aberto',
 'aberto administração',
 'aberto podermos',
 'abertura',
 'abertura jardim',
 'abertura linha',
 'abertura público',
 'abordagem',
 'abordagem governamental',
 'abordagens',
 'abordagens doenças',
 'abrange',
 'abrangente',
 'abrangidos',
 'abrangidos presente',
 'abrem',
 'abrem público',
 'abrigo',
 'abril',
 'abril 2018',
 'abril esforço',
 'acabado',
 'acabado chegar',
 'acabar',
 'acabar primeiro',
 'acabou',
 'académica',
 'aceder',
 'aceder informação',
 'aceites',
 'aceites todos',
 'acentuada',
 'aces',
 'acessibilidade',
 'acessibilidades',
 'acessibilidades cidade',
 'acesso',
 'acesso consulta',
 'acesso cuidados',
 'acesso prestações',
 'acesso saúde',
 'acesso serviços',
 'acessíveis',
 'acho',
 'acho estudantes',
 'acho sair',
 'acidente',
 'acima',
 'acima 200',
 'acolhe',
 'acolher',
 'acolher 300',
 'acolher agência',
 'acolher ema',
 'acolher sede',
 'acompanhada',
 'acompanhada mãe',
 'acompanhamento',
 'acompanhamento avaliação',
 'acompanhamento relatório',
 'acompanhamento área',
 'acompanhando',
 'acompanhar',
 'acompanhar caso',
 'aconselha',
 'acontece',
 'acontece copenhaga',
 'acontecer',
 'acontecer pode',
 'aconteceu',
 'acontecimentos',
 'acordo',
 'acordo autores',
 'acordo centro',
 'acordo comunicado',
 'acordo dados',
 'acordo despacho',
 'acordo diploma',
 'acordo fernando',
 'acordo infarmed',
 'acordo oncologista',
 'acordo programa',
 'acordo regras',
 'acordo relatório',
 'acordo secretária',
 'acrescenta',
 'acrescenta documento',
 'acrescenta joão',
 'acrescenta número',
 'acrescentou',
 'acrescentou ainda',
 'acrescentou estudantes',
 'acrescentou vai',
 'acss',
 'adalberto',
 'adalberto campos',
 'adaptação',
 'addiction',
 'addiction journal',
 'addictions',
 'addictions 2017',
 'adequada',
 'adequadas',
 'adequado',
 'aderido',
 'aderido paragem',
 'adiantou',
 'adicionais',
 'aditivos',
 'aditivos dependências',
 'adivinhar',
 'adivinhar crise',
 'adjunto',
 'adjunto saúde',
 'adjunto saúdeconstitui',
 'adjunto saúdedetermina',
 'administrador',
 'administrador josé',
 'administradores',
 'administradores hospitalares',
 'administrativos',
 'administração',
 'administração central',
 'administração centro',
 'administração regional',
 'administrações',
 'administrações regionais',
 'admitindo',
 'admitindo buraco',
 'admitiu',
 'admitiu ligações',
 'adotar',
 'adotar programas',
 'adoção',
 'adquiridos',
 'adultos',
 'adultos poderão',
 'adversas',
 'aeroporto',
 'aeroporto capacidade',
 'aeroporto estação',
 'aeroporto faro',
 'aeroportos',
 'afetadas',
 'afetar',
 'afetar parte',
 'afirma',
 'afirma dirigente',
 'afirmar',
 'afirmar destino',
 'afirmar portugal',
 'afirme',
 'afirme cada',
 'afirmou',
 'afirmou ana',
 'afirmou diretor',
 'afirmou dora',
 'afirmou governante',
 'afirmou josé',
 'afirmou miguel',
 'afirmou pedro',
 'afirmou planos',
 'afirmou revelando',
 'agenda',
 'agenda política',
 'agentes',
 'agentes agir',
 'agir',
 'agir sentido',
 'agora',
 'agora fazer',
 'agora necessário',
 'agora norte',
 'agora possa',
 'agora pretendem',
 'agora refere',
 'agora vão',
 'agosto',
 'agosto 2017',
 'agosto aí',
 'agosto número',
 'agosto setembro',
 'agraciado',
 'agraciado carreira',
 'agrupamentos',
 'agrupamentos centros',
 'aguardava',
 'aguardava pagamentos',
 'agudas',
 'agência',
 'agência europeia',
 'agência integração',
 'agência lusa',
 'agência responsável',
 'agência vai',
 'agências',
 'agências internacionais',
 'agências turísticas',
 'aheta',
 'aheta valor',
 'ahp',
 'ahp acompanhar',
 'ainda',
 'ainda ata',
 'ainda conseguir',
 'ainda dora',
 'ainda fase',
 'ainda governo',
 'ainda mundo',
 'ainda número',
 'ainda poderá',
 'ainda preparado',
 'ainda previstas',
 'ainda rússia',
 'ainda segunda',
 'ainda sete',
 'ainda vai',
 'air',
 'air berlin',
 'air lingus',
 'airlines',
 'airlines companhia',
 'ajuda',
 'ajuda lisboa',
 'ajudam',
 'ajudam reforçar',
 'ajudar',
 'ajudar desbloquear',
 'ajudará',
 'alargada',
 'alargado',
 'alargamento',
 'alargamento destes',
 'alargamento todo',
 'alargar',
 'alargar todo',
 'alargou',
 'albufeiras',
 'albufeiras nascentes',
 'alcançar',
 'alcançar crescimento',
 'aldeias',
 'aldeias centros',
 'aldeias históricas',
 'aldeias vinhateiras',
 'aldeias xisto',
 'alemanha',
 'alemanha portugal',
 'alemanha reino',
 'alentejo',
 'alerta',
 'alertar',
 'alertar sensibilizar',
 'alertou',
 'alertou diretor',
 'algarve',
 'algarve 60',
 'algarve 80',
 'algarve além',
 'algarve certeza',
 'algarve consideramos',
 'algarve destino',
 'algarve medidas',
 'algarve mercado',
 'algarve nestes',
 'algarve qualificando',
 'algarve tendência',
 'algarve ter',
 'algarve trás',
 'algarve vai',
 'algarvio',
 'algarvio representante',
 'algarvios',
 'algarvios avaliam',
 'algo',
 'algo acontece',
 'algo definiu',
 'algo vê',
 'algum',
 'algum interesse',
 'algum tempo',
 'alguma',
 'alguma altura',
 'alguma dificuldade',
 'algumas',
 'algumas iniciativas',
 'alguns',
 'alguns amigos',
 'alguns centros',
 'alguns investidores',
 'alguns meses',
 'alguns principais',
 'alguns problemas',
 'ali',
 'aliança',
 'aliança m8',
 'alienado',
 'alienado processo',
 'alimentação',
 'alimentação saudável',
 'alimentos',
 'alimentos bebidas',
 'alimentos curto',
 'almeida',
 'almeida acompanhada',
 'almeida diretor',
 'alojados',
 'alojados hotéis',
 'alojamentos',
 'alteração',
 'alteração decreto',
 'alterações',
 'alternativas',
 'altifalante',
 'altifalante conseguia',
 'alto',
 'alto nível',
 'alto patrocínio',
 'altura',
 'altura vidas',
 'alves',
 'alves representante',
 'além',
 'além austeridade',
 'além investir',
 'além reservas',
 'alívio',
 'alívio fiscal',
 'amanda',
 'amanda levete',
 'amanhã',
 'amanhã abrem',
 'amarração',
 'amarração maior',
 'ambientais',
 'ambientais precisamente',
 'ambiental',
 'ambiente',
 'ambição',
 'ambição saúde',
 'ambliopia',
 'ambliopia crianças',
 'ambos',
 'americana',
 'americano',
 'americano antigo',
 'americano brad',
 'americano lone',
 'americanos',
 'americanos tomassem',
 'amesterdão',
 'amesterdão copenhaga',
 'amigos',
 'amigos fizeram',
 'amsterdão',
 'amsterdão exemplo',
 'américa',
 'américa china',
 'américa norte',
 'ana',
 'ana mendes',
 'analisadas',
 'analisadas outras',
 'analisados',
 'analisar',
 'analisar formas',
 'and',
 'and walking',
 'andar',
 'andar hora',
 'andré',
 'andré jordan',
 'animais',
 'aniversário',
 'aniversário abertura',
 'ano',
 'ano 2005',
 'ano 2017',
 'ano 2027',
 'ano afirmou',
 'ano após',
 'ano cerca',
 'ano criação',
 'ano fundação',
 'ano longo',
 'ano meio',
 'ano passado',
 'ano porque',
 'ano reduzir',
 'ano vida',
 'anos',
 'anos 2014',
 'anos acordo',
 'anos algarve',
 'anos doenças',
 'anos idade',
 'anos infetadas',
 'anos permita',
 'anos primeira',
 'anos turismo',
 'anos valores',
 'anterior',
 'anteriormente',
 'anteriormente ligados',
 'antes',
 'antes quer',
 'antigo',
 'antigo nacional',
 'antigo resort',
 'antónio',
 'antónio costa',
 'antónio marques',
 'anuais',
 'anuais provenientes',
 'anual',
 'anual termos',
 'anualmente',
 'anuncia',
 'anunciada',
 'anunciada segunda',
 'anunciado',
 'anunciado semana',
 'anunciou',
 'anunciou ainda',
 'anunciou associação',
 'análise',
 'análise abordagens',
 'análise crítica',
 'análises',
 'anúncio',
 'anúncio intenção',
 'apanhar',
 'apanhar táxi',
 'aparecendo',
 'aparecendo classificada',
 'aparecimento',
 'aparelhos',
 'apenas',
 'apenas 42',
 'apenas económicas',
 'apenas partes',
 'apesar',
 'apesar bons',
 'apesar muitos',
 'apesar venda',
 'apetece',
 'apetece ir',
 'aplicada',
 'aplicados',
 'aplicação',
 'aplicação regimes',
 'aplicações',
 'aplicável',
 'apoia',
 'apoia independência',
 'apoiam',
 'apoiam separação',
 'apoiar',
 'apoiar agenda',
 'apoiavam',
 'apoiavam paralisação',
 'apoio',
 'apoio sustentabilidade',
 'apontou',
 'apontou ana',
 'aposta',
 'aposta estratégia',
 'aposta redes',
 'aposta relevância',
 'apostar',
 'apostas',
 'apostas definindo',
 'appeal',
 'appeal turístico',
 'apresenta',
 'apresentada',
 'apresentada segunda',
 'apresentado',
 'apresentado relatório',
 'apresentado últimos',
 'apresentados',
 'apresentando',
 'apresentando recente',
 'apresentar',
 'apresentar capacidade',
 'apresentar estratégia',
 'apresentar hoje',
 'apresentar modelo',
 'apresentar plano',
 'apresentar projeto',
 'apresentar três',
 'apresentação',
 'apresentação análise',
 'apresentação relatório',
 'aprovada',
 'aprovada última',
 'aproveitar',
 'apurado',
 'apurado diz',
 'apurar',
 'apurar iniciou',
 'após',
 'após ano',
 'após início',
 'após período',
 'aqui',
 'aqui acho',
 'aqui apresentar',
 'aqui insere',
 'aquisição',
 'aquisição banco',
 'aquisição intenção',
 'aquém',
 'aquém 360',
 'ar',
 'araújo',
 'araújo secretário',
 'argumento',
 'argumento importante',
 'arquiteta',
 'arquiteta britânica',
 'arquitetura',
 'arquitetura tecnologia',
 'arrastarem',
 'arrastarem malas',
 'ars',
 'ars centro',
 'arscentro',
 'arscentro min',
 'arslvt',
 'arslvt conseguiu',
 'arslvt min',
 'arslvt previstas',
 'arslvt rosa',
 'arslvt trabalhar',
 'arte',
 'arte arquitetura',
 'artes',
 'artes visuais',
 'articular',
 'articulação',
 'articulação vários',
 'artist',
 'artist film',
 'artista',
 'artista bill',
 'artistas',
 'artistas 305',
 'artistas passaram',
 'arábica',
 'arábica apesar',
 'ascende',
 'ascende 20',
 'aspetos',
 'assegura',
 'assegura valia',
 'assegurada',
 'asseguram',
 'asseguram essencial',
 'assegurar',
 'assegurar estabilidade',
 'assegurar funcionamento',
 'assembleia',
 'assembleias',
 'assembleias voto',
 'assim',
 'assim ficou',
 'assinado',
 'assinala',
 'assinala dia',
 'assinalado',
 'assinalado 12',
 'assinalando',
 'assinalando primeiro',
 'assinaram',
 'assinatura',
 'assinatura deste',
 'assinou',
 'assistencial',
 'assistencial proximidade',
 'associada',
 'associadas',
 'associadas infeção',
 'associadas translação',
 'associado',
 'associado existência',
 'associados',
 'associação',
 'associação comercial',
 'associação hotelaria',
 'associação portuguesa',
 'associação turismo',
 'associações',
 'associações cívicas',
 'associações doentes',
 'associações iniciativa',
 'assume',
 'assume além',
 'assumiram',
 'assumiu',
 'assumiu ainda',
 'assumiu viegas',
 'assuntos',
 'assunção',
 'assunção compromissos',
 'ata',
 'ata citada',
 'ata comunicado',
 'ata salientou',
 'atempada',
 'atendendo',
 'atendidos',
 'atenção',
 'atingem',
 'atingir',
 'atingiram',
 'atingiu',
 'ativa',
 'ativamente',
 'atividade',
 'atividade sustentável',
 'atividade turística',
 'atividades',
 'atividades investigação',
 'ativo',
 'ativo deverá',
 'ativos',
 'ativos aquisição',
 'ativos infetados',
 'ativos valor',
 'atlântico',
 'atlântico 29',
 'atlântico parecia',
 'através',
 'através aplicação',
 'através nova',
 'através pacotes',
 'através plano',
 'através projeto',
 'através prática',
 'através página',
 'através site',
 'atração',
 'atração turistas',
 'atribuir',
 'atribuir médico',
 'atribuição',
 'atribuição médico',
 'atribuição país',
 'atribuições',
 'atribuições domínio',
 'atribuída',
 'atribuídas',
 'atribuído',
 'atuais',
 'atualizado',
 'atualização',
 'atualmente',
 'atualmente existentes',
 'atuação',
 'atuação lpcc',
 'atuação polícia',
 'atuação seletiva',
 'auditório',
 'aumenta',
 'aumentado',
 'aumentar',
 'aumentar ainda',
 'aumentar estadas',
 'aumentar número',
 'aumentar qualificações',
 'aumento',
 'aumento 31',
 'aumento oferta',
 'aumento significativo',
 'aumentou',
 'aumentou 120',
 'austeridade',
 'austeridade turismo',
 'austrália',
 'austrália singapura',
 'autarquias',
 'autores',
 'autores estudo',
 'autoridade',
 'autoridade nacional',
 'autoridades',
 'autorização',
 'autêntico',
 'autêntico algo',
 'autónomas',
 'autónomas espanholas',
 'avaliados',
 'avaliam',
 'avaliam 36',
 'avaliar',
 'avaliação',
 'avaliação imobiliária',
 'avaliação resultados',
 'avaliação risco',
 'avaliação segundo',
 'avançada',
 'avançado',
 'avançar',
 'avançou',
 'avançou dn',
 'avançou proposta',
 'avc',
 'avenida',
 'avenida turista',
 'aviação',
 'aviação civil',
 'aviação contas',
 'avro',
 'avro somewhere2stay',
 'awards',
 'awards considerados',
 'awards diria',
 'awards moscovo',
 'ação',
 'ação momentos',
 'ação promoção',
 'ações',
 'ações valorização',
 'açúcar',
 'aérea',
 'aérea começará',
 'aérea direta',
 'aérea portugal',
 'aérea vai',
 'aérea volotea',
 'aéreas',
 'aéreas 2017',
 'aéreas certamente',
 'aéreas porto',
 'aí',
 'aí museu',
 'baixa',
 'baixa tanto',
 'baixar',
 'baixo',
 'baixos',
 'balanço',
 'balanço fundação',
 'banc',
 'banc entregue',
 'banco',
 'banco dois',
 'banco fundo',
 'banco mercado',
 'banco português',
 'barcelona',
 'barcelona alguns',
 'barcelona hoje',
 'barcelona meio',
 'barcelona turistas',
 'barreiro',
 'barreiro montijo',
 'barulho',
 'barulho feito',
 'base',
 'base critérios',
 'baseada',
 'baseada posicionamento',
 'baseia',
 'bastante',
 'bastante aquém',
 'bastonário',
 'bastonário ordem',
 'bebidas',
 'bebidas nutrientes',
 ...]

### Part 4 - Build up user profile

In [187]:
# create dict video_id ==>> tfidf weights
tfidf_tokens = {}
tfidf_array = tfidf_matrix.toarray()
line_count = 0
for idx, row in df_videos.iterrows():
    tfidf_tokens[row.video_id] = tfidf_array[line_count]
    line_count += 1
tfidf_tokens

{4049: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4051: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4053: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4054: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4055: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4060: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4061: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4062: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4063: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4068: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4089: array([ 0.        ,  0.10632992,  0.10632992, ...,  0.        ,
         0.        ,  0.        ]),
 4090: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4091: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4093: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4094: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4095: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4096: array([ 0.14595476,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4097: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4098: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4099: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4100: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4104: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4105: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4112: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4113: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4114: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4117: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4121: array([ 0.        ,  0.09039651,  0.09039651, ...,  0.        ,
         0.        ,  0.        ]),
 4124: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4125: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.06545254]),
 4128: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4139: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4140: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4141: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4142: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4143: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4145: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4146: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4147: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4148: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4151: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4152: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4153: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.08070158]),
 4155: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4157: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4158: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4161: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4162: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.24264221]),
 4164: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4165: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4166: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4169: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4171: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4172: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4173: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4174: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4177: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4180: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4186: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4193: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4194: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4195: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4199: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4200: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4201: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4202: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4203: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4205: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.03862879,  0.        ]),
 4206: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4211: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4213: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4214: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4215: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4216: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4217: array([ 0.        ,  0.        ,  0.        , ...,  0.03190238,
         0.        ,  0.        ]),
 4218: array([ 0.        ,  0.        ,  0.        , ...,  0.03190238,
         0.        ,  0.        ]),
 4219: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4220: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4221: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4222: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4223: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4224: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4225: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4227: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4228: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4229: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4230: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4231: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4232: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4233: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4234: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4235: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4236: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4237: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4238: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4239: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4241: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4255: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4257: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.03862879,  0.        ]),
 4258: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4263: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4268: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4269: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4270: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4271: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4272: array([ 0.07127661,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4273: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4274: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4275: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4276: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4277: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4278: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4279: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4280: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4282: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4283: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4285: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4286: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4287: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4288: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4289: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4290: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4291: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4292: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4293: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4294: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4295: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4296: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4297: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4312: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4313: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4314: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4315: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4317: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4342: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.03862879,  0.        ]),
 4344: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4351: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4352: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4353: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4354: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4355: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4356: array([ 0.12531189,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4357: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4358: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4359: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4361: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4362: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4363: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4374: array([ 0.,  0.,  0., ...,  0.,  0.,  0.])}

In [188]:
# define user ratings
user_ratings = df_ratings[(df_ratings.user_id==8)]
user_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
32,0,8,4051,13,0.039,0.0,0.039
33,0,8,4061,1,0.003,0.0,0.003
34,0,8,4062,1,0.003,0.0,0.003
35,0,8,4063,1,0.003,0.0,0.003
36,0,8,4068,1,0.003,0.0,0.003
37,0,8,4089,2,0.006,0.0,0.006
38,0,8,4090,1,0.003,0.0,0.003
39,0,8,4091,1,0.003,0.0,0.003
40,0,8,4093,49,0.147,0.0,0.147
41,0,8,4094,7,0.021,0.0,0.021
42,0,8,4095,4,0.012,0.0,0.012

In [189]:
# created weighted user profile vector (dotproduct of vectors of items consumed and user ratings)
#   "In the original implementation, the profile was the sum of the item-tag vectors of all items 
#   the user has rated positively (>= 3.5 stars). This approach was later improved with weighted 
#   user profile (with the older implementation commented out for reference). Weighted profile is 
#   computed with weighted sum of the item vectors for all items, with weights being based on the 
#   user's rating."
#   See: http://eugenelin89.github.io/recommender_content_based/
user_profile = [0] * len(tfidf.get_feature_names())
for i in range(len(user_profile)):
    for idx, row in user_ratings.iterrows():
        user_profile[i] += row.overall_rating_value * tfidf_tokens[row.video_id][i]
    #user_profile = [v/len(user_ratings) for v in user_profile] # weight-ing user vector (?)
# normalize user profile vector
import numpy as np
user_profile = user_profile / np.linalg.norm(user_profile)
user_profile

array([ 0.        ,  0.00392136,  0.00392136, ...,  0.        ,
        0.        ,  0.        ])

### Part 5 - Calculate similarities between user profile and contents

In [190]:
# apply cosine similarity between user profile vector and content vectors
# See: http://eugenelin89.github.io/recommender_content_based/
from math import sqrt
def cosine_similarity(x, y):
    def square_rooted(v):
        return round(sqrt(sum([a * a for a in v])), 3)
   
    numerator = sum(a * b for a, b in zip(x, y))
    denominator = square_rooted(x) * square_rooted(y)
    return numerator/float(denominator)

estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items(): 
    if video_id not in user_ratings.video_id.values: # not calculating for contents already consumed 
        estimated_user_ratings[video_id] = cosine_similarity(user_profile, token_weights)
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4097, 0.15543114202520728),
 (4227, 0.15428175187449292),
 (4117, 0.12447911107932565),
 (4216, 0.11588177786884346),
 (4353, 0.097111731388943606),
 (4053, 0.096495531264093479),
 (4121, 0.096407159057376915),
 (4200, 0.095848453658864893),
 (4290, 0.095744238434516488)]

In [191]:
# Using the dotproduct of user profile vector, content IDF and content vector
# See: https://www.analyticsvidhya.com/blog/2015/08/beginners-guide-learn-content-based-recommender-systems/
estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items():
    if video_id not in user_ratings.video_id.values: # removing contents already consumed 
        estimated_user_ratings[video_id] = 0
        for i in range(len(token_weights)):
            if token_weights[i] > 0:
                estimated_user_ratings[video_id] += user_profile[i] * tfidf.idf_[i] * token_weights[i]
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4097, 0.58404069357488275),
 (4227, 0.47010780040815292),
 (4117, 0.43156535904782012),
 (4121, 0.34350933058900046),
 (4216, 0.32927780167639931),
 (4200, 0.31740560571577836),
 (4172, 0.31595355816623688),
 (4053, 0.3026930958008115),
 (4096, 0.29556157559788865)]