# Content-based recommendations (using cosine similarity)
This notebook shows the process used to calculate recommendations for user based on their previous ratings and in features extracted from content texts available in +TV4E platform.

Library requirements:
* Pandas
* NumPy
* Scikit-learn 
* NLTK (w/ portuguese stop words)

In [18]:
# for Python 2: use print only as a function
from __future__ import print_function

### Part 1 - Examine the data

In [19]:
# read CSV using a relative path
import pandas as pd
import numpy as np
import requests
URL_RATINGS='http://api_mysql.tv4e.pt/api/recommendations/ratings'
data=requests.get(URL_RATINGS)
df_ratings=pd.DataFrame(data.json())
URL_VIDEOS='http://api_mysql.tv4e.pt/api/recommendations/videos'
data= requests.get(URL_VIDEOS)
df_videos=pd.DataFrame(data.json())

In [20]:
# show dataframe first rows
df_videos.head()

,video_asgie_id,video_asgie_title_en,video_asgie_title_pt,video_date_creation,video_desc,video_id,video_location,video_title
0,3,Financial Services,Finanças,2017-09-26 15:21:16,Seja qual for o cenário para os escalões do IR...,4049,,As “habilidadezinhas” do Governo para descer o...
1,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:36:20,Mais pessoas recorrem aos centros de saúde par...,4051,,Deixar de fumar
2,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:38:36,Quase sete mil unidades de medicamentos apreen...,4053,,Medicamentos falsificados
3,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:40:12,Ministro da Saúde participa no encontro em Coi...,4054,,Conferência Mundial de Saúde Urbana
4,1,Health Care and Welfare Services,Saúde e Bem-Estar,2017-09-26 15:40:19,Rastreio visa despiste da ambliopia em criança...,4055,,CHTS | Saúde visual infantil

In [21]:
# show dataframe first rows
df_ratings.head()

,rating_date_creation,rating_value,user_id,video_id,video_watch_time,video_watched_type
0,2017-12-04 15:56:42,NaN,1,4453,100,forced
1,2017-12-04 17:20:39,-1.0,1,4454,16,forced
2,2017-12-04 15:07:13,NaN,1,4503,18,forced
3,2017-12-04 12:25:04,NaN,1,4545,17,forced
4,2017-12-04 15:08:26,1.0,1,4569,11,forced

In [22]:
df_ratings[['user_id', 'video_id', 'rating_value']]

    user_id  video_id  rating_value
0         1      4453           NaN
1         1      4454          -1.0
2         1      4503           NaN
3         1      4545           NaN
4         1      4569           1.0
5         1      4697           NaN
6         1      4705           NaN
7         1      4707           1.0
8         1      4709           NaN
9         1      4717          -1.0
10        1      4718          -1.0
11        1      4721           1.0
12        1      4722           NaN
13        3      4720           NaN
14        3      4724           NaN
15        3      4726           1.0
16        3      4728           NaN
17        4      4687           1.0
18        4      4741          -1.0
19        4      4743           NaN
20        4      4744           0.0
21        5      4747           0.0
22        5      4751           0.0
23        5      4752           NaN
24        6      4736           NaN
25        6      4737           1.0
26        7      4721           1.0
27        8      4515           0.0
28        8      4574           NaN
29        8      4714           1.0
30        8      4751           1.0
31        9      4722           0.0
32        9      4738           1.0
33        9      4744           NaN
34       20      4672           1.0
35       20      4721           NaN
36       20      4752          -1.0
37       20      4753           NaN

In [23]:
#show the shape of dataframe
df_ratings.shape

(38, 6)

In [24]:
# show overall statistics of the dataframe
df_ratings.describe()

       rating_value    user_id     video_id  video_watch_time
count     21.000000  38.000000    38.000000         38.000000
mean       0.285714   5.631579  4687.710526         47.973684
std        0.845154   5.701688    86.941082         43.711268
min       -1.000000   1.000000  4453.000000          1.000000
25%        0.000000   1.000000  4699.000000          8.250000
50%        1.000000   4.000000  4721.000000         25.500000
75%        1.000000   8.000000  4740.250000        100.000000
max        1.000000  20.000000  4753.000000        100.000000

In [25]:
# filter ratings from user 1 and show statistics
df_ratings_user = df_ratings[(df_ratings.user_id==1)]
df_ratings_user.describe()

       rating_value  user_id     video_id  video_watch_time
count      6.000000     13.0    13.000000         13.000000
mean       0.000000      1.0  4632.307692         15.615385
std        1.095445      0.0   109.412358         26.209217
min       -1.000000      1.0  4453.000000          1.000000
25%       -1.000000      1.0  4545.000000          3.000000
50%        0.000000      1.0  4705.000000          9.000000
75%        1.000000      1.0  4717.000000         17.000000
max        1.000000      1.0  4722.000000        100.000000

### Part 2 - Clean ratings data

In [26]:
# rtemoving unused columns
df_ratings.drop('video_watched_type', axis=1, inplace=True)
df_ratings.drop('rating_date_creation', axis=1, inplace=True)
df_ratings

    rating_value  user_id  video_id  video_watch_time
0            NaN        1      4453               100
1           -1.0        1      4454                16
2            NaN        1      4503                18
3            NaN        1      4545                17
4            1.0        1      4569                11
5            NaN        1      4697                 9
6            NaN        1      4705                 3
7            1.0        1      4707                 4
8            NaN        1      4709                 5
9           -1.0        1      4717                 1
10          -1.0        1      4718                 1
11           1.0        1      4721                17
12           NaN        1      4722                 1
13           NaN        3      4720                40
14           NaN        3      4724               100
15           1.0        3      4726               100
16           NaN        3      4728               100
17           1.0        4      4687               100
18          -1.0        4      4741                 1
19           NaN        4      4743                 1
20           0.0        4      4744                19
21           0.0        5      4747               100
22           0.0        5      4751               100
23           NaN        5      4752                15
24           NaN        6      4736                38
25           1.0        6      4737               100
26           1.0        7      4721               100
27           0.0        8      4515               100
28           NaN        8      4574                29
29           1.0        8      4714                22
30           1.0        8      4751               100
31           0.0        9      4722                41
32           1.0        9      4738                 8
33           NaN        9      4744                 6
34           1.0       20      4672               100
35           NaN       20      4721               100
36          -1.0       20      4752               100
37           NaN       20      4753               100

In [44]:
# calculate implicit and explicit ratings
# XXX use a function to calculate implicit rating considering the video lead time
df_ratings['rating_implicit'] = (df_ratings['video_watch_time']/100) * 0.3
df_ratings['rating_explicit'] = (df_ratings['rating_value'])         * 0.7

# If the explicit rating was negative, the implicit will be negative
df_ratings.loc[(df_ratings.rating_explicit < 0), 'rating_implicit'] = df_ratings['rating_implicit'] * -1

# create a new column to put implicit or explicit rating rating_value
df_ratings['overall_rating_value'] = df_ratings['rating_implicit'] + df_ratings['rating_explicit']

# implicit rating is the watched time / explicit rating is the like-0-dislike
df_ratings['rating_implicit'] = df_ratings['video_watch_time']/100
df_ratings['rating_explicit'] = df_ratings['rating_value']
df_ratings['overall_rating_value']=df_ratings['overall_rating_value'].fillna(0)


# Right now, the overall rating will be NONE/NaN if no explicit rating was set
# So, we just consider the implicit rating if the user has seen at least 25% of the video
df_ratings.loc[ (df_ratings['overall_rating_value'] == 0) & (df_ratings['video_watch_time'] > 25),'overall_rating_value'] = (df_ratings['video_watch_time']/100) * 0.5
df_ratings.loc[ (df_ratings['overall_rating_value'] == 0) & (df_ratings['video_watch_time'] < 25),'overall_rating_value'] = (df_ratings['video_watch_time']/100 - 1) * 0.5

df_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
0,NaN,1,4453,100,1.00,NaN,0.500
1,-1.0,1,4454,16,0.16,-1.0,-0.748
2,NaN,1,4503,18,0.18,NaN,-0.410
3,NaN,1,4545,17,0.17,NaN,-0.415
4,1.0,1,4569,11,0.11,1.0,0.733
5,NaN,1,4697,9,0.09,NaN,-0.455
6,NaN,1,4705,3,0.03,NaN,-0.485
7,1.0,1,4707,4,0.04,1.0,0.712
8,NaN,1,4709,5,0.05,NaN,-0.475
9,-1.0,1,4717,1,0.01,-1.0,-0.703
10,-1.0,1,4718,1,0.01,-1.0,-0.703
11,1.0,1,4721,17,0.17,1.0,0.751
12,NaN,1,4722,1,0.01,NaN,-0.495
13,NaN,3,4720,40,0.40,NaN,0.200
14,NaN,3,4724,100,1.00,NaN,0.500
15,1.0,3,4726,100,1.00,1.0,1.000
16,NaN,3,4728,100,1.00,NaN,0.500
17,1.0,4,4687,100,1.00,1.0,1.000
18,-1.0,4,4741,1,0.01,-1.0,-0.703
19,NaN,4,4743,1,0.01,NaN,-0.495
20,0.0,4,4744,19,0.19,0.0,0.057
21,0.0,5,4747,100,1.00,0.0,0.300
22,0.0,5,4751,100,1.00,0.0,0.300
23,NaN,5,4752,15,0.15,NaN,-0.425
24,NaN,6,4736,38,0.38,NaN,0.190
25,1.0,6,4737,100,1.00,1.0,1.000
26,1.0,7,4721,100,1.00,1.0,1.000
27,0.0,8,4515,100,1.00,0.0,0.300
28,NaN,8,4574,29,0.29,NaN,0.145
29,1.0,8,4714,22,0.22,1.0,0.766
30,1.0,8,4751,100,1.00,1.0,1.000
31,0.0,9,4722,41,0.41,0.0,0.123
32,1.0,9,4738,8,0.08,1.0,0.724
33,NaN,9,4744,6,0.06,NaN,-0.470
34,1.0,20,4672,100,1.00,1.0,1.000
35,NaN,20,4721,100,1.00,NaN,0.500
36,-1.0,20,4752,100,1.00,-1.0,-1.000
37,NaN,20,4753,100,1.00,NaN,0.500

In [28]:
ratings_matrix = df_ratings.pivot_table(index=['user_id'], columns=['video_id'], values=['overall_rating_value'])
ratings_matrix

         overall_rating_value                                              \
video_id                 4453   4454  4503 4515   4545   4569   4574 4672
user_id
1                         0.5 -0.748  0.41  NaN  0.415  0.733    NaN  NaN
3                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
4                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
5                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
6                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
7                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
8                         NaN    NaN   NaN  0.3    NaN    NaN  0.145  NaN
9                         NaN    NaN   NaN  NaN    NaN    NaN    NaN  NaN
20                        NaN    NaN   NaN  NaN    NaN    NaN    NaN  1.0

                     ...                                                    \
video_id 4687   4697 ...   4736 4737   4738   4741   4743   4744 4747 4751
user_id              ...
1         NaN  0.455 ...    NaN  NaN    NaN    NaN    NaN    NaN  NaN  NaN
3         NaN    NaN ...    NaN  NaN    NaN    NaN    NaN    NaN  NaN  NaN
4         1.0    NaN ...    NaN  NaN    NaN -0.703  0.495  0.057  NaN  NaN
5         NaN    NaN ...    NaN  NaN    NaN    NaN    NaN    NaN  0.3  0.3
6         NaN    NaN ...   0.19  1.0    NaN    NaN    NaN    NaN  NaN  NaN
7         NaN    NaN ...    NaN  NaN    NaN    NaN    NaN    NaN  NaN  NaN
8         NaN    NaN ...    NaN  NaN    NaN    NaN    NaN    NaN  NaN  1.0
9         NaN    NaN ...    NaN  NaN  0.724    NaN    NaN  0.470  NaN  NaN
20        NaN    NaN ...    NaN  NaN    NaN    NaN    NaN    NaN  NaN  NaN


video_id   4752 4753
user_id
1           NaN  NaN
3           NaN  NaN
4           NaN  NaN
5         0.425  NaN
6           NaN  NaN
7           NaN  NaN
8           NaN  NaN
9           NaN  NaN
20       -1.000  0.5

[9 rows x 32 columns]

### Part 3 - Vectorize texts

In [29]:
# import and retrieve portuguese stop words
# stop words are not considered as token as usually they carry no meaning (!)
from nltk.corpus import stopwords
portuguese_stop_words = stopwords.words('portuguese')

In [30]:
# import and instantiate TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=2, max_df=0.5, stop_words=portuguese_stop_words)

In [31]:
# fit (train) the vectorizer with the corpus from video text contents
tfidf_matrix = tfidf.fit_transform(df_videos['video_desc'])
tfidf_matrix.toarray()

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [32]:
tfidf.get_feature_names()

['00',
 '00 horas',
 '000',
 '000 00',
 '000 euros',
 '000 utentes',
 '018',
 '018 2017',
 '06',
 '08',
 '09',
 '10',
 '10 10saúdealarga',
 '10 15',
 '10 aniversário',
 '10 anos',
 '10 dias',
 '10 horas',
 '10 meses',
 '10 mil',
 '10 milhões',
 '10 minutos',
 '10 novembro',
 '10 outubro',
 '100',
 '100 aquisição',
 '100 metros',
 '100 mil',
 '102',
 '102 mil',
 '10285',
 '10285 2017',
 '109',
 '10h30',
 '10h30 fundação',
 '10saúdealarga',
 '10saúdealarga elenco',
 '11',
 '11 27saúde',
 '11 anos',
 '11 novembro',
 '11 outubro',
 '110',
 '112',
 '112 acordo',
 '112 instituto',
 '112 recorda',
 '113',
 '113 2011',
 '118',
 '11h',
 '11h reforço',
 '11h00',
 '12',
 '12 000',
 '12 30',
 '12 anos',
 '12 dezembro',
 '12 meses',
 '12 mil',
 '12 outubro',
 '120',
 '120 km',
 '120 médicos',
 '1200',
 '125',
 '127',
 '129',
 '129 participantes',
 '12h00',
 '13',
 '13 milhões',
 '13 novembro',
 '13 outubro',
 '130',
 '131',
 '131 2017',
 '13h',
 '13h almoço',
 '14',
 '14 17',
 '14 mil',
 '14 novembro',
 '140',
 '140 2016',
 '142',
 '143',
 '14h',
 '14h30',
 '15',
 '15 00',
 '15 16',
 '15 dezembro',
 '15 doentes',
 '15 horas',
 '15 milhões',
 '15 novembro',
 '15 outubro',
 '15 pontos',
 '150',
 '150 000',
 '150 200',
 '150 mil',
 '150 milhões',
 '154',
 '154 administração',
 '154 profissionais',
 '154 vagas',
 '157',
 '157 39',
 '15h',
 '15h00',
 '15h30',
 '16',
 '16 horas',
 '16 milhões',
 '16 novembro',
 '16 outubro',
 '160',
 '160 000',
 '17',
 '17 anos',
 '17 dezembro',
 '17 horas',
 '17 junho',
 '17 novembro',
 '17 outubro',
 '17h00',
 '17h30',
 '18',
 '18 20',
 '18 64',
 '18 horas',
 '18 novembro',
 '180',
 '180 mil',
 '1899',
 '1899 médico',
 '18h00',
 '19',
 '19 00',
 '19 20',
 '19 45',
 '19 candidaturas',
 '1922',
 '1922 instituído',
 '194',
 '194 2017',
 '1945',
 '195',
 '195 2017',
 '1974',
 '198',
 '1981',
 '1989',
 '1992',
 '1993',
 '1996',
 '1999',
 '1º',
 '20',
 '20 21',
 '20 abril',
 '20 anos',
 '20 euros',
 '20 horas',
 '20 mil',
 '20 milhões',
 '20 minutos',
 '20 mulheres',
 '20 novembro',
 '20 outubro',
 '20 reservas',
 '200',
 '200 000',
 '200 mil',
 '200 novos',
 '2000',
 '2001',
 '2002',
 '2004',
 '2005',
 '2005 uns',
 '2006',
 '2006 comemoração',
 '2007',
 '2008',
 '2009',
 '2009 57',
 '2010',
 '2011',
 '2011 29',
 '2012',
 '2013',
 '2014',
 '2014 arslvt',
 '2015',
 '2015 140',
 '2015 2016',
 '2015 ano',
 '2016',
 '2016 17',
 '2016 2017',
 '2016 ano',
 '2016 nesta',
 '2016 número',
 '2017',
 '2017 09',
 '2017 10',
 '2017 11',
 '2017 12',
 '2017 15',
 '2017 18',
 '2017 2018',
 '2017 acordo',
 '2017 apresentado',
 '2017 assinala',
 '2017 através',
 '2017 cerca',
 '2017 cerimónia',
 '2017 cria',
 '2017 data',
 '2017 despacho',
 '2017 determina',
 '2017 diário',
 '2017 dois',
 '2017 ema',
 '2017 fim',
 '2017 inem',
 '2017 iniciativa',
 '2017 lugar',
 '2017 objetivo',
 '2017 preenchidas',
 '2017 procedimento',
 '2017 publicada',
 '2017 publicado',
 '2017 realizou',
 '2017 região',
 '2017 secretário',
 '2017 seguintes',
 '2017 segunda',
 '2017 segundo',
 '2017 série',
 '2017 vai',
 '2017 âmbito',
 '2018',
 '2018 2019',
 '2018 2021',
 '2018 acordo',
 '2018 ano',
 '2018 cumprir',
 '2018 haverá',
 '2018 pem',
 '2018 prevê',
 '2018 última',
 '2019',
 '2019 importante',
 '2020',
 '2020 direção',
 '2020 âmbito',
 '2021',
 '2021 altura',
 '2027',
 '2027 hoje',
 '2027 pretendendo',
 '2027 taxa',
 '2030',
 '206',
 '206 2017',
 '208',
 '21',
 '21 novembro',
 '21 outubro',
 '210',
 '218',
 '218 vagas',
 '21h',
 '21h30',
 '22',
 '22 horas',
 '22 novembro',
 '225',
 '227',
 '228',
 '228 2017',
 '22h',
 '23',
 '23 24',
 '23 anos',
 '23 casos',
 '23 novembro',
 '23 outubro',
 '24',
 '24 2017',
 '24 24',
 '24 808',
 '24 direção',
 '24 eleitores',
 '24 horas',
 '24 novembro',
 '24 outubro',
 '24 profissionais',
 '24 vai',
 '240',
 '240 314',
 '25',
 '25 abril',
 '25 anos',
 '25 cancros',
 '25 euros',
 '25 mil',
 '25 milhões',
 '25 novembro',
 '25 outubro',
 '250',
 '250 143',
 '26',
 '26 outubro',
 '26 setembro',
 '27',
 '27 novembro',
 '27 outubro',
 '27 setembro',
 '271',
 '27saúde',
 '27saúde gabinete',
 '28',
 '28 000',
 '28 56',
 '28 novembro',
 '28 setembro',
 '29',
 '29 março',
 '29 mil',
 '29 milhões',
 '29 novembro',
 '29 outubro',
 '29 setembro',
 '290',
 '290 vagas',
 '292',
 '292 mil',
 '2ª',
 '2ª edição',
 '2º',
 '30',
 '30 abril',
 '30 anos',
 '30 cento',
 '30 contrato',
 '30 dias',
 '30 mil',
 '30 milhões',
 '30 novembro',
 '30 outubro',
 '30 setembro',
 '30 transplantes',
 '30 vítima',
 '300',
 '300 pessoas',
 '305',
 '31',
 '31 agosto',
 '31 dezembro',
 '31 janeiro',
 '31 milhões',
 '31 outubro',
 '314',
 '314 78',
 '317',
 '317 candidatos',
 '32',
 '32 milhões',
 '321',
 '33',
 '33 previsto',
 '330',
 '338',
 '35',
 '35 mil',
 '350',
 '36',
 '36 milhões',
 '360',
 '365',
 '37',
 '37 33',
 '37 óscares',
 '38',
 '39',
 '39 anos',
 '39 euros',
 '39 protocolos',
 '3ª',
 '3ª edição',
 '3º',
 '40',
 '40 anos',
 '40 mil',
 '40 milhões',
 '40 voluntários',
 '400',
 '41',
 '41 42',
 '42',
 '43',
 '44',
 '440',
 '45',
 '45 desde',
 '45 dias',
 '45 horas',
 '46',
 '47',
 '48',
 '49',
 '4is',
 '4is setepés',
 '4ª',
 '4ª edição',
 '4º',
 '4º concurso',
 '50',
 '50 000',
 '50 anos',
 '50 euros',
 '50 fundo',
 '50 lugares',
 '50 metros',
 '50 mil',
 '500',
 '500 euros',
 '52',
 '52 anos',
 '522',
 '53',
 '53 médicos',
 '54',
 '55',
 '55 24',
 '56',
 '57',
 '57 eleitorado',
 '58',
 '59',
 '60',
 '60 000',
 '60 mil',
 '60 milhões',
 '600',
 '600 mil',
 '600 utentes',
 '62',
 '62 agora',
 '620',
 '620 157',
 '621',
 '64',
 '64 anos',
 '65',
 '65 anos',
 '650',
 '68',
 '69',
 '70',
 '70 90',
 '70 anos',
 '70 casos',
 '70 euros',
 '700',
 '700 especialistas',
 '700 mil',
 '72',
 '74',
 '75',
 '75 80',
 '75 ambulâncias',
 '75 mil',
 '75 valor',
 '751',
 '76',
 '763',
 '77',
 '77 anos',
 '78',
 '78 euros',
 '79',
 '80',
 '80 anos',
 '80 mil',
 '80 milhões',
 '80 mulheres',
 '800',
 '800 pessoas',
 '808',
 '808 24',
 '808 250',
 '82',
 '84',
 '85',
 '85 anos',
 '850',
 '87',
 '89',
 '8h30',
 '8h30 concentração',
 '90',
 '90 90',
 '90 anos',
 '90 doentes',
 '90 minutos',
 '90 quilómetros',
 '900',
 '900 mil',
 '92',
 '94',
 '95',
 '96',
 '96 mil',
 '99',
 '9h30',
 '9h30 partida',
 'a17',
 'a2020',
 'a2020 programa',
 'a25',
 'aauav',
 'aauav abertura',
 'aauav destaca',
 'abae',
 'abaixo',
 'abandonar',
 'abandono',
 'abastecimento',
 'abastecimento água',
 'abate',
 'abdicar',
 'abdominal',
 'abdominal diarreia',
 'aberta',
 'aberta comunidade',
 'aberta todos',
 'abertas',
 'abertas dia',
 'abertas inscrições',
 'aberto',
 'aberto administração',
 'aberto desde',
 'abertura',
 'abertura concurso',
 'abertura oficial',
 'abertura parte',
 'abertura prevista',
 'abertura processos',
 'abertura promover',
 'abertura propostas',
 'abertura sessão',
 'abordagem',
 'abordagens',
 'abordagens doenças',
 'abordar',
 'abordou',
 'abrange',
 'abrange cerca',
 'abrangem',
 'abrangendo',
 'abrangente',
 'abrangidas',
 'abrangidos',
 'abrangidos presente',
 'abrangência',
 'abre',
 'abrigo',
 'abrigo candidatura',
 'abril',
 'abril 2018',
 'abrir',
 'abriu',
 'absoluta',
 'absoluta aveiro',
 'absolutamente',
 'absoluto',
 'abstenção',
 'aca',
 'acaba',
 'acabando',
 'acabar',
 'acabar epidemia',
 'acabar primeiro',
 'acabaria',
 'acabaria ser',
 'acabou',
 'acabou ser',
 'academia',
 'academia entende',
 'académica',
 'académica refere',
 'académica ua',
 'académica universidade',
 'académico',
 'académico cidade',
 'académico nunca',
 'acarreta',
 'acarretam',
 'acarretam sequelas',
 'acaso',
 'acautelando',
 'acautelando iminência',
 'acautelar',
 'aceder',
 'aceder informação',
 'aceitar',
 'aceitou',
 'acelerar',
 'aceleração',
 'aceleração tecnológica',
 'acentuada',
 'aces',
 'aces central',
 'acessibilidade',
 'acessibilidade doentes',
 'acessibilidade reduzir',
 'acessibilidades',
 'acessibilidades cidade',
 'acesso',
 'acesso balneários',
 'acesso consulta',
 'acesso cuidados',
 'acesso informação',
 'acesso levar',
 'acesso prestações',
 'acesso saúde',
 'acesso serviços',
 'acesso universal',
 'acesso utentes',
 'acessos',
 'acessíveis',
 'acessíveis cidadão',
 'acessível',
 'acessível cómoda',
 'achamos',
 'achamos implementação',
 'acidentado',
 'acidente',
 'acidente vascular',
 'acidentes',
 'acidentes causados',
 'acidentes chegaram',
 'acidentes refere',
 'acidentes rodoviários',
 'acima',
 'acima clicando',
 'acolhe',
 'acolhe dia',
 'acolhedor',
 'acolhedoras',
 'acolher',
 'acolher 300',
 'acolher agência',
 'acolher ema',
 'acolher sede',
 'acolherá',
 'acolheu',
 'acolhido',
 'acolhido receptividade',
 'acolhimento',
 'acompanhadas',
 'acompanhado',
 'acompanhado equipa',
 'acompanhados',
 'acompanhamento',
 'acompanhamento avaliação',
 'acompanhamento distância',
 'acompanhamento relatório',
 'acompanhamento área',
 'acompanhando',
 'acompanhar',
 'acompanhar evolução',
 'acompanhar perto',
 'acompanhar situação',
 'acompanhar terreno',
 'acompanhe',
 'aconselha',
 'aconselhamento',
 'acontece',
 'acontece copenhaga',
 'acontecer',
 'acontecer pode',
 'aconteceu',
 'acontecido',
 'acontecimentos',
 'acordo',
 'acordo ars',
 'acordo autores',
 'acordo centro',
 'acordo comunicado',
 'acordo dados',
 'acordo despacho',
 'acordo dgs',
 'acordo diploma',
 'acordo direção',
 'acordo fernando',
 'acordo inem',
 'acordo infarmed',
 'acordo medidas',
 'acordo ministro',
 'acordo norma',
 'acordo nota',
 'acordo oncologista',
 'acordo partes',
 'acordo portaria',
 'acordo relatório',
 'acordo responsável',
 'acordo ser',
 'acordos',
 'acredita',
 'acreditam',
 'acredito',
 'acresce',
 'acrescenta',
 'acrescenta ainda',
 'acrescenta documento',
 'acrescenta número',
 'acrescentado',
 'acrescentando',
 'acrescentou',
 'acrescentou ainda',
 'acrescentou fernando',
 'acrescida',
 'acrescida continuarmos',
 'acrescido',
 'acss',
 'acss emite',
 'acss min',
 'actividade',
 'actors',
 'actors of',
 'actos',
 'actos adeptos',
 'actuais',
 'actual',
 'actuar',
 'actuar cumprimento',
 'acuidade',
 'acusado',
 'acusação',
 'adalberto',
 'adalberto campos',
 'adaptado',
 'adaptação',
 'addiction',
 'addiction journal',
 'addictions',
 'addictions 2017',
 'adepto',
 'adeptos',
 'adeptos elementos',
 'adeptos isolados',
 'adequada',
 'adequada interrupção',
 'adequada manutenção',
 'adequadas',
 'adequadas interromper',
 'adequado',
 'adequado articulação',
 'adequado combatendo',
 'aderentes',
 'aderiu',
 'adesão',
 'adianta',
 'adiantou',
 'adiantou ainda',
 'adicionais',
 'adicional',
 'adicionalmente',
 'aditivos',
 'aditivos dependências',
 'adjunto',
 'adjunto saúde',
 'adjunto saúdeconstitui',
 'adjunto saúdedetermina',
 'administrada',
 'administrada durante',
 'administradas',
 'administrador',
 'administradores',
 'administradores hospitalares',
 'administrativa',
 'administrativa financeira',
 'administrativo',
 'administrativos',
 'administração',
 'administração agora',
 'administração central',
 'administração centro',
 'administração chuc',
 'administração entidades',
 'administração interna',
 'administração porto',
 'administração pública',
 'administração regional',
 'administrações',
 'administrações regionais',
 'admissão',
 'admite',
 'admitido',
 'admitindo',
 'admitiu',
 'admitiu ligações',
 'adolescentes',
 'adotadas',
 'adotadas medidas',
 'adotadas prevêem',
 'adotado',
 'adotado nações',
 'adotar',
 'adotar estilos',
 'adotou',
 'adoção',
 'adoção hábitos',
 'adoção medidas',
 'adquirida',
 'adquiridos',
 'adquirir',
 'adulto',
 'adultos',
 'adultos 50',
 'adultos poderão',
 'adversas',
 'adversas medicamentos',
 'adversário',
 'aeronaves',
 'aeroporto',
 'aeroporto capacidade',
 'aeroporto faro',
 'aeroportos',
 'aerossóis',
 'aerossóis contaminados',
 'aerossóis piscinas',
 'afa',
 'afa assumirá',
 'afa defende',
 'afa segurança',
 'afectando',
 'afectar',
 'afeta',
 'afeta bombeiros',
 'afetada',
 'afetada sequência',
 'afetadas',
 'afetado',
 'afetados',
 'afetados incêndios',
 'afetam',
 'afeto',
 'afinal',
 'afirma',
 'afirma dirigente',
 'afirmando',
 'afirmar',
 'afirmação',
 'afirme',
 'afirme cada',
 'afirmou',
 'afirmou governante',
 'afirmou segunda',
 'afluência',
 'afonso',
 'after',
 'agenda',
 'agenda política',
 'agendada',
 'agendada dia',
 'agendado',
 'agendamento',
 'agendou',
 'agente',
 'agente infeção',
 'agente polícia',
 'agentes',
 'agentes agir',
 'agentes desportivos',
 'agentes policiais',
 'agilização',
 'agilização processos',
 'agir',
 'agir sentido',
 'agora',
 'agora litério',
 'agora necessário',
 'agosto',
 'agosto 2017',
 'agraciado',
 'agraciado carreira',
 'agradece',
 'agradeceu',
 'agradecimento',
 'agradável',
 'agras',
 'agravamento',
 'agregado',
 'agregado familiar',
 'agregados',
 'agregados familiares',
 'agressor',
 'agressões',
 'agressões envolvendo',
 'agricultura',
 'agrupamento',
 'agrupamento centros',
 'agrupamento escolas',
 'agrupamentos',
 'agrupamentos centros',
 'agrícola',
 'agrícolas',
 'aguardado',
 'aguardam',
 'aguardar',
 'aguardava',
 'aguda',
 'aguda vão',
 'agudas',
 'agência',
 'agência europeia',
 'agência integração',
 'agência lusa',
 'agência modernização',
 'agência tomada',
 'agência vai',
 'agências',
 'agências internacionais',
 'agências reguladoras',
 'agências viagens',
 'ahbva',
 'ahp',
 'ainda',
 'ainda assim',
 'ainda comunicado',
 'ainda concluído',
 'ainda descarga',
 'ainda encontra',
 'ainda fase',
 'ainda fez',
 'ainda governo',
 'ainda maior',
 'ainda mundo',
 'ainda ninguém',
 'ainda nota',
 'ainda número',
 'ainda oportunidade',
 'ainda período',
 'ainda políticas',
 'ainda portugal',
 'ainda possibilidade',
 'ainda previstas',
 'ainda primeira',
 'ainda proceda',
 'ainda programa',
 'ainda promoção',
 'ainda ser',
 'ainda sete',
 'ainda vai',
 'air',
 'airbnb',
 'aires',
 'ajuda',
 'ajuda liga',
 'ajuda lisboa',
 'ajuda recebidos',
 'ajudam',
 'ajudam reforçar',
 'ajudando',
 'ajudar',
 'ajudaram',
 'ajudará',
 'ajustado',
 'ajustamento',
 'ajustamento municipal',
 'ajustamentos',
 'ajuste',
 'ala',
 'ala fisioterapia',
 'alargada',
 'alargada resto',
 'alargado',
 'alargamento',
 'alargamento destes',
 'alargamento projeto',
 'alargamento todo',
 'alargando',
 'alargar',
 'alargar todo',
 'alargou',
 'alarmante',
 'alarmante casos',
 'alba',
 'albergar',
 'albergaria',
 'albergaria velha',
 'alberto',
 ...]

### Part 4 - Build up user profile

In [33]:
# create dict video_id ==>> tfidf weights
tfidf_tokens = {}
tfidf_array = tfidf_matrix.toarray()
line_count = 0
for idx, row in df_videos.iterrows():
    tfidf_tokens[row.video_id] = tfidf_array[line_count]
    line_count += 1
tfidf_tokens

{4049: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4051: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4053: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4054: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4055: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4057: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4058: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4059: array([ 0.        ,  0.        ,  0.15365662, ...,  0.        ,
         0.        ,  0.        ]),
 4060: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4061: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4062: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4063: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4068: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4070: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4071: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4072: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4073: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4074: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.04692988,  0.        ]),
 4075: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4076: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.05409272,  0.        ]),
 4077: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4078: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4079: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4080: array([ 0.05849285,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4081: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4082: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4083: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4084: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4085: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4086: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4088: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4089: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4090: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4091: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4092: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4093: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4094: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4095: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4096: array([ 0.        ,  0.        ,  0.09277868, ...,  0.        ,
         0.        ,  0.        ]),
 4097: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4098: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4099: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4100: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4101: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4102: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4103: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4104: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4105: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4106: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4107: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.08393732]),
 4108: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4109: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4110: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4111: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.05271699]),
 4112: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4113: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4114: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4115: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4116: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4117: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4118: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4121: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4124: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4125: array([ 0.        ,  0.        ,  0.        , ...,  0.06357449,
         0.        ,  0.        ]),
 4128: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4134: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.12554922]),
 4135: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4136: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4137: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4138: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4139: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4140: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4141: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4142: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4143: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4144: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4145: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4146: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4147: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4148: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4149: array([ 0.        ,  0.        ,  0.08703095, ...,  0.        ,
         0.        ,  0.        ]),
 4150: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4151: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4152: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4153: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4154: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4155: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4156: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4157: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4158: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4159: array([ 0.       ,  0.       ,  0.0928982, ...,  0.       ,  0.       ,  0.       ]),
 4160: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4161: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4162: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4163: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4164: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4165: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4166: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4167: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4168: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4169: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4170: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4171: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4172: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4173: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4174: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4177: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4195: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4199: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4200: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4201: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4202: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4203: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4204: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4205: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4211: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4212: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4213: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4214: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4215: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4216: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4217: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4218: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4219: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4220: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4221: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4222: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4223: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4224: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4225: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4227: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4228: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4229: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4230: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4231: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4232: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4233: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4234: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4235: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4236: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4237: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4238: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4239: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4241: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4255: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4268: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4269: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4270: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4271: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4272: array([ 0.        ,  0.        ,  0.04660902, ...,  0.        ,
         0.        ,  0.        ]),
 4273: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4274: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4275: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4276: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4277: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4278: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4279: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4280: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4282: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4283: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4284: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4285: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4286: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4287: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4288: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4289: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4290: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4291: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4292: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4293: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4294: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4295: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4296: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4297: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4312: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4313: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4314: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4315: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4316: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4317: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4318: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4319: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4320: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4321: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4322: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4323: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4324: array([ 0.14180335,  0.13804132,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4325: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4326: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4327: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4328: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4329: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4330: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4331: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4333: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4334: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4335: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4336: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4337: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4338: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4344: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4349: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4350: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4352: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4353: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4354: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4355: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4356: array([ 0.        ,  0.        ,  0.07462766, ...,  0.        ,
         0.        ,  0.        ]),
 4357: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4358: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4359: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4360: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4361: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4362: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4363: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4374: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4375: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4376: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4377: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4378: array([ 0.        ,  0.        ,  0.08324277, ...,  0.        ,
         0.        ,  0.        ]),
 4379: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4380: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4381: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4382: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4383: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4384: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4385: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4386: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4387: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4388: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4389: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4390: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4391: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4392: array([ 0.        ,  0.        ,  0.02364865, ...,  0.        ,
         0.        ,  0.        ]),
 4393: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4394: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4395: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4396: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4397: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4399: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4400: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4401: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4402: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4403: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4404: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4405: array([ 0.        ,  0.        ,  0.05091417, ...,  0.        ,
         0.        ,  0.        ]),
 4406: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4407: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4408: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4409: array([ 0.        ,  0.        ,  0.03681094, ...,  0.0578379 ,
         0.        ,  0.        ]),
 4410: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4411: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4412: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4413: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4414: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4415: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4416: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4417: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4418: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4419: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4420: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4421: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4422: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4423: array([ 0.        ,  0.        ,  0.09994379, ...,  0.        ,
         0.        ,  0.        ]),
 4424: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4425: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4426: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4427: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4428: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4429: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4430: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4431: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4432: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4433: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4434: array([ 0.        ,  0.        ,  0.06091944, ...,  0.        ,
         0.        ,  0.        ]),
 4435: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4436: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4437: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4438: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4439: array([ 0.17463351,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4440: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4441: array([ 0.        ,  0.        ,  0.        , ...,  0.06748257,
         0.        ,  0.        ]),
 4442: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4443: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4444: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4445: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4446: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4447: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4448: array([ 0.        ,  0.        ,  0.08371441, ...,  0.        ,
         0.        ,  0.        ]),
 4449: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4450: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4451: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4452: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4453: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4454: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4455: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4456: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4457: array([ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.07165794]),
 4458: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4459: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4460: array([ 0.        ,  0.        ,  0.05490662, ...,  0.        ,
         0.        ,  0.        ]),
 4461: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4462: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4463: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4464: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4465: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4466: array([ 0.02701677,  0.        ,  0.0478762 , ...,  0.        ,
         0.        ,  0.        ]),
 4467: array([ 0.        ,  0.        ,  0.04801633, ...,  0.        ,
         0.        ,  0.        ]),
 4468: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4469: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4470: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4471: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4472: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4473: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4474: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4475: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4476: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4477: array([ 0.11469231,  0.        ,  0.10162266, ...,  0.        ,
         0.        ,  0.        ]),
 4478: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4479: array([ 0.09697313,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]),
 4480: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4481: array([ 0.        ,  0.        ,  0.13049363, ...,  0.        ,
         0.        ,  0.        ]),
 4482: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4483: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4484: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4489: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4494: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4496: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4498: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4499: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4500: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4501: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4502: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4503: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4504: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4505: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4506: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4507: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4508: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4509: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4510: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4511: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4512: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4513: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4514: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4515: array([ 0.        ,  0.        ,  0.04128117, ...,  0.        ,
         0.        ,  0.        ]),
 4516: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4517: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4518: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4519: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4520: array([ 0.07952549,  0.        ,  0.07046324, ...,  0.        ,
         0.        ,  0.        ]),
 4521: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4522: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4533: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4543: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4545: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),
 4547: array([ 0.,  0.,  0., ...,  0.,  0.,  0.]),

In [34]:
# define user ratings
user_ratings = df_ratings[(df_ratings.user_id==20)]
user_ratings

,rating_value,user_id,video_id,video_watch_time,rating_implicit,rating_explicit,overall_rating_value
34,1.0,20,4672,100,1.0,1.0,1.0
35,NaN,20,4721,100,1.0,NaN,0.5
36,-1.0,20,4752,100,1.0,-1.0,-1.0
37,NaN,20,4753,100,1.0,NaN,0.5

In [35]:
# created weighted user profile vector (dotproduct of vectors of items consumed and user ratings)
#   "In the original implementation, the profile was the sum of the item-tag vectors of all items 
#   the user has rated positively (>= 3.5 stars). This approach was later improved with weighted 
#   user profile (with the older implementation commented out for reference). Weighted profile is 
#   computed with weighted sum of the item vectors for all items, with weights being based on the 
#   user's rating."
#   See: http://eugenelin89.github.io/recommender_content_based/
user_profile = [0] * len(tfidf.get_feature_names())
for i in range(len(user_profile)):
    for idx, row in user_ratings.iterrows():
        user_profile[i] += row.overall_rating_value * tfidf_tokens[row.video_id][i]
    #user_profile = [v/len(user_ratings) for v in user_profile] # weight-ing user vector (?)
# normalize user profile vector
import numpy as np
user_profile = user_profile / np.linalg.norm(user_profile)
user_profile

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

### Part 5 - Calculate similarities between user profile and contents

In [36]:
# apply cosine similarity between user profile vector and content vectors
# See: http://eugenelin89.github.io/recommender_content_based/
from math import sqrt
def my_cosine_similarity(x, y):
    def square_rooted(v):
        return round(sqrt(sum([a * a for a in v])), 3)
   
    numerator = sum(a * b for a, b in zip(x, y))
    denominator = square_rooted(x) * square_rooted(y)
    return numerator/float(denominator)

estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items(): 
    if video_id not in user_ratings.video_id.values: # not calculating for contents already consumed 
        estimated_user_ratings[video_id] = my_cosine_similarity(user_profile, token_weights)
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4225, 0.15803743831597478),
 (4454, 0.13508244814832612),
 (4230, 0.11197615062103805),
 (4239, 0.10607655728586628),
 (4353, 0.10597446003285119),
 (4448, 0.10580566032594516),
 (4220, 0.098150034278477322),
 (4268, 0.089662280003604239),
 (4049, 0.086859208843875588)]

In [37]:
df_videos[(df_videos.video_id == 4148)].video_date_creation.values

array(['2017-10-03 10:31:30'], dtype=object)

In [38]:
# Using sklearn cosine_similarity (faster!)
from sklearn.metrics.pairwise import cosine_similarity
from math import sqrt
estimated_user_ratings = []
for video_id, token_weights in tfidf_tokens.items(): 
    # not calculating for contents already consumed
    if video_id not in user_ratings.video_id.values:
        estimated_user_ratings.append((
            video_id,
            df_videos[(df_videos.video_id == video_id)].video_date_creation.values[0],
            cosine_similarity([user_profile], [token_weights])[0]
        ))
#     if video_id not in user_ratings.video_id.values: # not calculating for contents already consumed 
#         estimated_user_ratings[video_id] = cosine_similarity([user_profile], [token_weights])
# order ratings
estimated_user_ratings = sorted(estimated_user_ratings, key=lambda tup: tup[2], reverse=True)[:12]
estimated_user_ratings

[(4225, '2017-10-11 22:11:59', array([ 0.15803744])),
 (4454, '2017-11-14 11:28:34', array([ 0.13508245])),
 (4230, '2017-10-12 16:17:34', array([ 0.11197615])),
 (4239, '2017-10-13 22:12:05', array([ 0.10607656])),
 (4353, '2017-10-23 09:11:21', array([ 0.10597446])),
 (4448, '2017-11-11 00:00:00', array([ 0.10580566])),
 (4220, '2017-10-11 09:11:42', array([ 0.09815003])),
 (4268, '2017-10-16 22:16:52', array([ 0.08966228])),
 (4049, '2017-09-26 15:21:16', array([ 0.08685921])),
 (4445, '2017-11-07 13:11:22', array([ 0.07792967])),
 (4296, '2017-10-19 22:13:58', array([ 0.07441095])),
 (4174, '2017-10-06 14:14:48', array([ 0.06569596]))]

In [39]:
# Using the dotproduct of user profile vector, content IDF and content vector
# See: https://www.analyticsvidhya.com/blog/2015/08/beginners-guide-learn-content-based-recommender-systems/
estimated_user_ratings = {}
for video_id, token_weights in tfidf_tokens.items():
    if video_id not in user_ratings.video_id.values: # removing contents already consumed 
        estimated_user_ratings[video_id] = 0
        for i in range(len(token_weights)):
            if token_weights[i] > 0:
                estimated_user_ratings[video_id] += user_profile[i] * tfidf.idf_[i] * token_weights[i]
# order ratings
import operator
estimated_user_ratings = sorted(estimated_user_ratings.items(), key=operator.itemgetter(1))
estimated_user_ratings[:-10:-1]

[(4225, 0.83611145568431244),
 (4230, 0.52236357972569747),
 (4454, 0.47060646825315672),
 (4239, 0.45623707710801875),
 (4448, 0.42532030444852376),
 (4220, 0.4209239208856016),
 (4353, 0.40145378778527607),
 (4049, 0.38573656591272187),
 (4268, 0.35094640629833873)]